<div class="akt">

	<h2>АКТ (ОТЧЕТ) ОБ ОКАЗАНИИ УСЛУГ №{{ end|date('dmY') }}{{ company.id }}</h2>

	<table class="tb">
		<tr>
			<td><p>г. Москва</p></td>
			<td class="tar"><p>{{ end|date('d.m.Y') }}</p></td>
		</tr>
	</table>

	<p>ООО «ХОРОШИЙ ПРОЕКТ», именуемое далее «Агент» (Генеральный директор Мясникова Елена Михайловна), с одной
		стороны, и {{ company.name }}, именуемое далее «Принципал» ({{ company.position }} {{ company.man }}), с другой стороны, настоящим Актом (далее «Акт»)
		подтверждаем, что за отчетный период выполнили свои обязательства по Агентскому договору №{{ company.dogovor }} от {{ company.date|date('d.m.Y') }} в полном объеме.
	</p>


	<table border="1">
		<tr>
			<td>1.</td>
			<td>Отчетный период</td>
			<td>{{ start|date('d.m.Y') }} - {{ end|date('d.m.Y') }}</td>
		</tr>

		<tr>
			<td>2.</td>
			<td>Остаток денежных средств Принципала на счете Агента на начало отчетного периода</td>
			<td>{{ money.ostatok_p }}</td>
		</tr>

		<tr>
			<td>3.</td>
			<td>Общая сумма реализованных Электронных билетов </td>
			<td>{{ money.tik_sum_p }}</td>
		</tr>

		<tr>
			<td>3.1.</td>
			<td>Сумма Электронных билетов, приобретённых физическими лицами</td>
			<td>{{ money.tik_sum_p }}</td>
		</tr>

		<tr>
			<td>3.2.</td>
			<td> Сумма Электронных билетов, приобретённых юридическими лицами</td>
			<td>{{ money.tik_sum_yr_p }}</td>
		</tr>

		<tr>
			<td>4.</td>
			<td> Общая сумма вознаграждения Агента за реализованные Электронные билеты</td>
			<td>{{ money.vozn_p }}</td>
		</tr>

		<tr>
			<td>5.</td>
			<td>Общая сумма средств, возвращенных Покупателям по поручению Принципала за Электронные билеты</td>
			<td>{{ money.tik_back_p }}</td>
		</tr>

		<tr>
			<td>6.</td>
			<td> Вознаграждение за осуществление возврата Покупателям Электронных билетов</td>
			<td>{{ money.vozn_back_p }}</td>
		</tr>

		<tr>
			<td>7.</td>
			<td> Денежные средства, удержанные Агентом для взаимозачета</td>
			<td>{{ money.block_p }}</td>
		</tr>

		<tr>
			<td>8.</td>
			<td> Сумма денежных средств, перечисленных Агентом на счет Принципала на основании Требования</td>
			<td>{{ money.pere_p }}</td>
		</tr>

		<tr>
			<td>9.</td>
			<td> Остаток денежных средств Принципала на счете Агента </td>
			<td>{{ money.ostatok_end_p }}</td>
		</tr>
	</table>

	<p> ООО «ХОРОШИЙ ПРОЕКТ» и {{ company.name }} на {{ end|date('d.m.Y') }} по Агентскому
		договору №{{ company.dogovor }} от {{ company.date|date('d.m.Y') }} претензий друг к другу не имеют.
	</p>

	<br><br>

	<h2>ПОДПИСИ СТОРОН:</h2>

	<table class="tb">
		<tr>
			<td width="50%">
				<p><b>Агент:</b></p>
				<p>ООО «ХОРОШИЙ ПРОЕКТ»</p>
				<p>ИНН: 7729682883</p>
				<p>Почтовый адрес: 101000, РОССИЯ, г. МОСКВА, ул. МЯСНИЦКАЯ, д. 13, стр. 24</p>
				<p>&nbsp;</p>
				<p>_________________ (Мясникова Елена Михайловна) </p>
			</td>
			<td width="50%">
				<p><b>Принципал:</b></p>
				<p>{{ company.name }}</p>
				<p>ИНН: {{ company.inn }}</p>
				<p>Почтовый адрес: {{ company.faddress }}</p>
				<p>&nbsp;</p>
				<p>_________________ ({{ company.man }})</p>
			</td>
		</tr>
	</table>
</div>








<pagebreak />







<div class="akt">

	<h2>АКТ №{{ end|date('dmY') }}{{ company.id }} ОТ {{ end|date('d.m.Y') }}</h2>

	<p><b>Лицензиар:</b>ООО «ХОРОШИЙ ПРОЕКТ», ИНН: 7729682883, Почтовый адрес: 101000, РОССИЯ, г. МОСКВА, ул. МЯСНИЦКАЯ, д. 13, стр. 24</p>
	<p><b>Лицензиат:</b> {{ company.name }}, ИНН:{{ company.inn }}, Почтовый адрес: {{ company.faddress }}</p>
	<p><b>Основание:</b> Лицензионный договор №{{ company.dogovor }} от {{ company.date|date('d.m.Y') }}</p>

	<table border="1">
		<tr>
			<td>№</td>
			<td>Наименование работ, услуг</td>
			<td>Кол-во</td>
			<td>Ед.</td>
			<td>Цена</td>
			<td>Сумма</td>
		</tr>
		<tr>
			<td>1.</td>
			<td>Лицензионное вознаграждение за использование Функционала <br>билетной системы за период с {{ start|date('d.m.Y') }} по {{ end|date('d.m.Y') }} </td>
			<td>1</td>
			<td>шт</td>
			<td>{{ money.vozn }}</td>
			<td>{{ money.vozn }}</td>
		</tr>
	</table>
	<p class="tar"><b>Итого: {{ money.vozn }}</b></p>
	<p class="tar"><b>НДС не облагается</b></p>

	<p><b>Всего отпущено на сумму</b></p>
	<p><b>{{ money.vozn_p }}</b></p>
	<p class="tac bt">прописью</p>

	<br><br>

	<h2>ПОДПИСИ СТОРОН:</h2>

	<table class="tb">
		<tr>
			<td width="50%">
				<p><b>Агент:</b></p>
				<p>ООО «ХОРОШИЙ ПРОЕКТ»</p>
				<p>ИНН: 7729682883</p>
				<p>Почтовый адрес: 101000, РОССИЯ, г. МОСКВА, ул. МЯСНИЦКАЯ, д. 13, стр. 24</p>
				<p>&nbsp;</p>
				<p>_________________ (Мясникова Елена Михайловна) </p>
			</td>
			<td width="50%">
				<p><b>Принципал:</b></p>
				<p>{{ company.name }}</p>
				<p>ИНН: {{ company.inn }}</p>
				<p>Почтовый адрес: {{ company.faddress }}</p>
				<p>&nbsp;</p>
				<p>_________________ ({{ company.man }})</p>
			</td>
		</tr>
	</table>
</div>

