<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="newblo">
            <h2>Маркет</h2>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3 left_blo">
        <div class="steps">
            {{ this.render('/module/market_step.twig', {'company' : company}) | raw }}
            <div class="newblo">

            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-9 newblos">

    


        <div>
            <div class="newblo btop">
                <p><b>Маркет</b></p>
                <table class="tb">
                    <tr>
                        <th>id</th>
                        <th>Маркет</th>
                        <th>Сайт</th>
                        <th>Город</th>
                        <th>Соц. сети</th>
                        <th>Дата добавления</th>
                        <!-- <th>vk_public</th> -->
                    </tr>
                    {% for market in markets %}
                                <tr>
                                    <td><p>{{ market.id }}</p></td>
                                    <td><p><a href="/crm/market/update?id={{market.id}}">{{ market.title }}</p></td>

                                    <td><p><a href="https://{{ market.link_site }}"> {{ market.link_site }}</p></td> 
                                    <td><p>{{ market.city_id }}</p></td>
                                    <td>

                                        <span>{% if market.link_vk %}<a href="https://vk.com/{{ market.link_vk }}">vk</a>,{% else %} <s>vk</s>,{% endif %}
                                        {% if market.link_fb %}<a href="{{ market.link_fb }}">fb</a>,{% else %} <s>fb</s>,{% endif %}
                                        {% if market.link_insta %}<a href="{{ market.link_insta }}">insta</a>,{% else %} <s>insta</s>,{% endif %}
                                        {% if market.link_tg %}<a href="https://tg.com/{{ market.link_tg }}">tg</a>,{% else %} <s>tg</s>,{% endif %}
                                        <!--
                                        {% if market.link_kg %}<a href="{{ market.link_kg }}">kg</a><br>{% else %} <s>kg</s><br>{% endif %}
                                        {% if market.link_yt %}<a href="{{ market.link_yt }}">yt</a>,{% else %} <s>yt</s>,{% endif %}
                                        -->
                                        </span>
                                    </td>
                                    <td><p>{{  market.date_create|date('d.m.y') }}</p></td>
                                    <!-- <td>{{  market.public_vk_id }}</td> -->
                                </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        


        
    </div>
</div>

<script>
$('.js_slide').click(function () {
    $(this).parent().find('table').slideToggle(200);
    $(this).parent().next('.tbmob').slideToggle(200);
});
</script>