<div class="akt">
	<p style="text-align: center;"><b>Договор займа  № Д{% if model.doc_number %}{{ model.doc_number }}{% endif %}   </b>
	<table class="tb">
		<tr>
			<td>г. Санкт-Петербург</td>
			<td class="tar">{{ model.date_act|date('d.m.Y') }}</td>
		</tr>
	</table>
</p>
<p style="font-size: 10px; ">{{ contragent2.name }}, именуемое в дальнейшем «Исполнитель»  с одной стороны, и {{ contragent1.name }}, именуемое в дальнейшем «Заказчик», в лице {{ contragent1.man_genitive }}, {% if contragent1.doc_basis %}действующего на основании {{ contragent1.doc_basis }},{% endif %} с другой стороны, вместе в дальнейшем именуемые «Стороны», а по отдельности «Сторона», заключили настоящий Договор о нижеследующем:<br>
<b>1. Предмет Договора</b><br>

1.1.На условиях и в порядке, предусмотренном настоящим договором, Заимодавец передает, а
Заемщик принимает денежные средства в размере {{ money.summa_p }}, (далее - «сумма займа»), а Заемщик обязуется возвратить полученную сумму займа в сроки,
установленные настоящим Договором, а также уплатить проценты, начисленные на сумму займа за
весь период пользования заемными денежными средствами.<br>
1.2. Размер процентов по настоящему Договору составляет 5% (пять) процентов
годовых.


<br><b>2. Цена договора, порядок оплаты и принятия услуг</b><br>
Займодавец обязан передать Заемщику указанную сумму займа до {{ model.date_act|date('d.m.Y') }} г.
Моментом передачи считается момент поступления денежных средств на расчетный счет Заемщика.
Сумма займа может быть передана Заемщику единовременно в полном объеме или по частям.<br>
2.2. Возврат Заемщиком указанной в настоящем договоре суммы займа должен быть осуществлен не
позднее {{ model.date_act|date('d.m.Y') }}.<br>
2.3. Сумма займа может быть возвращена Заемщиком как единовременно в полном объеме, так и по
частям, однако вся сумма займа должна быть полностью возвращена Заемщиком не позднее срока,
указанного в п. 2.2 настоящего договора.<br>
Начисленные проценты (п. 1.2.) возвращается Заемщиком вместе с суммой займа – единовременно
или по частям.

<br><b>3 Заключительные положения</b><br>
3.1.Договор действует с момента поступления суммы займа Заемщику Заимодавцем и до момента
исполнения сторонами принятых по настоящему договору обязательств.<br>
3.2.Все отношения, возникающие между Сторонами в процессе исполнения настоящего договора
и не урегулированные настоящим договором, регулируются действующим
законодательством Российской Федерации.<br>
3.3.Все изменения и дополнения к настоящему договору составляются в письменной форме и
подписываются обеими Сторонами.

<br><b>4. Реквизиты сторон</b>

	

	<table class="tb">
		<tr>
			<td width="50%">
				<br><b>Займодавец:</b>
				<br>{{ contragent1.name }}
				<br>ИНН: {{ contragent1.inn }} 
				<br>Почтовый адрес: {{ contragent1.jaddress }}
				<br>Юридический адрес: {{ contragent1.faddress }}
				<br>&nbsp;
				<br>_________________ ({{ contragent1.man }})
			</td>
			<td width="50%">
				<br><b>Заемщик:</b>
				<br> {{ contragent2.name }}
				<br>ИНН: {{ contragent2.inn }} 
				<br>Почтовый адрес: {{ contragent2.jaddress }}
				<br>Юридический адрес: {{ contragent2.faddress }}
				<br>&nbsp;
				<br>_________________ ({{ contragent2.man }})
			</td>
		</tr>
	</table>
</p>	
</div>


