<div class="akt">

	<h2>Договор  № ОС{{ model.id }}-{{ model.task_id }}{% if model.act_number %}-{{ model.act_number }}{% endif %} на организацию и проведение события.  </h2>

	<table class="tb">
		<tr>
			<td><p>г. Санкт-Петербург</p></td>
			<td class="tar"><p>{{ model.date_act|date('d.m.Y') }}</p></td>
		</tr>
	</table>
<p> «{{ contragent1.name }}», в лице Генерального директора ___, действующей на основании Устава, именуемое в дальнейшем «Заказчик», с одной стороны и {{ contragent2.name }} в лице ________________{% if contragent1.ogrn %}, действующего на основании свидетельства о государственной регистрации(ОГРНИП {{ contragent1.ogrn }}){%endif%}, именуемый «Исполнитель», заключили настоящий договор о нижеследующем. 
</p>
<h2>1. Предмет договора</h2>
<p>1. {{model.name}}
</p>
<h2>2.Права и обязанности сторон </h2>
<p> 

1.1. По настоящему Договору Принципал поручает Агенту от своего имени и за счет Принципала за вознаграждение осуществлять юридические и иные действия, направленные на:<br>
распространение (дистрибьюцию) аудио контента Принципала, путем заключения соответствующих соглашений с третьими лицами (Площадками);
 опубликования аудио контента на Площадках, доведения аудио контента до всеобщего сведения;<br>
оказание иных сопутствующих действий в целях цифровой музыкальной дистрибьюции аудио контента Принципала в сети Интернет; 
(далее - Поручение).<br>
1.2. Для выполнения поручения по настоящему Договору, Агент уполномочен осуществлять дистрибьюцию исключительно цифрового аудио контента. Организация выступлений Принципала, создание или распространение дисков или иных носителей аудио контента - в рамках настоящего Договора не осуществляется.<br>
1.3. Принципал не вправе назначать иных агентов в течение срока действия настоящего Договора для выполнения ими поручений, являющихся предметом настоящего Договора.<br>
1.4. Поручение в соответствии с настоящим Договором распространяется исключительно на online Площадки и online продвижение по всей Территории. 

</p>
<h2>2. Права и обязанности Сторон</h2>
<p>

2.1. Права и обязанности Принципала:<br>
Принципал обязуется предоставлять Агенту информацию, необходимую для выполнения поручения по настоящему Договору Агентом, по его запросу не более, чем в течение 2 (Двух) рабочих дней с момента получения такого запроса;<br>
Принципал обязуется подписывать акты и отчеты Агента в порядке и в сроки, указанные в настоящем Договоре;<br>
Принципал вправе запрашивать информацию о ходе выполнения поручения от Агента;<br>
Принципал вправе требовать перечисления денежных средств, полученных в процессе выполнения поручения, в сроки, установленные Договором; <br>
2.2. Права и обязанности Агента:<br>
Агент вправе требовать от Принципала подписания акта об оказанных услуг и отчетов по настоящему Договору в сроки, указанные в Договоре;<br>
Агент вправе заключать сделки от имени Принципала в целях осуществления обязательств по настоящему Договору;<br>
Агент вправе заключать аналогичные договоры с другими принципалами; <br>
Агент вправе указывать псевдоним Принципала у себя на сайте, в портфолио;<br>
Агент обязуется предоставлять отчеты в сроки, предусмотренные настоящим Договором; <br>
При опубликовании аудио контента на Площадках, Агент обязуется указывать авторство Принципала, если иное не согласовано Сторонами;
Ни при каких обстоятельствах, Агент не вправе называть себя правообладателем аудио контента, или автором каких-либо Произведений Принципала;<br>
Агент не вправе создавать производные произведения на основе аудио контента Принципала;<br>
Агент обязуется своевременно перечислять денежные средства Принципалу;<br>
Агент обязуется не размещать аудио контент на «пиратских» сайтах.<br>

</p>
<h2>3. Стоимость Договора и порядок расчетов</h2>
<p> 

3.1. В течение 5 (Пяти) рабочих дней с даты подписания отчета и Акта за соответствующий период, Агент перечисляет Принципалу денежные средства, полученные в связи с выполнением поручения по настоящему Договору, за вычетом комиссии (вознаграждения) Агента, а также за вычетом фактических, документально подтвержденных расходов (в том числе, комиссии Площадок, комиссии банка, а также иных обоснованных расходов, понесенных в процессе выполнения Поручения).<br>
3.2. Комиссия (вознаграждение) Агента составляет 20% от общей стоимости денежных средств, полученных от Площадок в процессе исполнения настоящего Поручения. Размер денежных средств, полученных за скачивание/проигрывание аудио контента - определяется Площадкой и Агент не имеет возможности изменять условия пользовательских соглашений соответствующей Площадки.<br>
3.3. Отчетным периодом в целях настоящего Договора, Стороны принимают квартал. Первым отчетным периодом является период с даты заключения настоящего Договора до окончания текущего квартала.<br>
3.4. Агент не является налоговым агентом Принципала, все налоги, обязательные для уплаты последним - исчисляются и уплачиваются Принципалом самостоятельно.<br>
3.5. Стоимость Договора складывается из всех сумм Вознаграждения, полученного Агентом в течение срока действия настоящего Договора.

</p>
<h2>4. Порядок оказания услуг</h2>
<p>

4.1. Для выполнения поручения по настоящему Договору Принципал обязуется в срок не позднее 3-х рабочих дней с даты подписания настоящего Договора предоставить Агенту информацию, указанную в Приложении №1 к Договору. В случае изменения перечня аудио произведений, а равно какой-либо информации, предоставленной Агенту в ходе исполнения настоящего Договора, Принципал незамедлительно, в течение одного рабочего дня с момента, как ему стало известно о таких изменений, направляет уточненную информацию согласно перечню, установленному Приложением №1, в адрес Агента. <br>
4.2. Произведения предоставляются Агенту в соответствии с техническими требованиями, указанными в Приложении №2 к настоящему Договору. В ходе исполнения настоящего Договора, Стороны вправе вносить изменения в указанные требования путем заключения дополнительного соглашения, а равно в рабочем порядке, путем отправки соответствующей информации по адресам электронной почты: 
для Агента: ______<br>
для Принципала: _____<br>
4.3. Агент приступает к выполнению поручения в течение 5 (Пяти) рабочих дней с момента получения информации, предусмотренной п. 4.1. Договора. <br>
4.4. Агент выполняет поручения, предусмотренные в предмете Договора, в течение всего срока действия Договора. <br>
4.5. Ежеквартально, не позднее последнего календарного дня соответствующего месяца,  следующего за отчетным периодом, Агент направляет Принципалу акт об оказанных услугах, а также отчет, содержащий информацию о Площадках, на которых был размещен аудио контент Принципала, а также статистику прослушиваний и/или скачиваний, и/или загрузок, и иную информацию. <br>
4.6. В течение 5 (Пяти) рабочих дней с даты получения отчета, Принципал обязуется подписать отчет и акт за соответствующий период, либо предоставить мотивированный отказ от их подписания. В случае неподписания указанных документов и отсутствия мотивированного отказа от их подписания, документы считаются подписанными а услуги принятыми Принципалом в соответствующем периоде без замечаний. 
4.7. В ходе выполнения поручения, Агент вправе подготавливать и публиковать на сторонних Интернет сайтах материалы о Принципале, в том числе: анонсы, пресс-релизы, статьи, и т.д. 4.8. В случае несвоевременного или неполного предоставления материалов, контента Принципалом, а равно несоответствия аудио контента техническим требованиям, Агент вправе приостановить выполнения поручения на срок задержки в предоставлении указанных материалов. <br>
4.9. Все исключительные права на аудио контент, а равно на иной контент, предоставленный Принципалом (фотографии, изображения) остаются за Принципалом, однако последний предоставляет Агенту право на срок действия Договора осуществлять опубликование и распространение контента на Площадках в целях выполнения поручения по настоящему Договору, при этом указывая авторство Принципала. Исключительные права на тексты, анонсы, пресс релизы, в случае их создания Агентом, - остаются у Агента и Принципалу не предоставляется права на их самостоятельное использование вне отношений с Агентом.<br>
4.10. В случае, если в процессе выполнения Поручения, Принципал желает внести изменения, в том числе, снять с публикации уже опубликованный аудио контент, он направляет об этом уведомление Агенту. Последний обязуется предпринять все возможные от него действия для удаления аудио контента в кратчайшие сроки, однако не может нести ответственность или давать какие-либо гарантии относительно срока удаления аудио контента. <br>

</p>
<h2>5. Гарантии. Ограничения ответственности</h2>
<p>

5.1. Принципал гарантирует наличие всех авторских и смежных прав на передаваемые Агенту материалы и аудио контент. В случае предъявления претензий третьих лиц Агенту, в связи с нарушением исключительных прав третьих лиц в указанных материалах, Агент перенаправляет такие претензии Принципалу, либо, по согласованию с Принципалом, самостоятельно разрешает полученные претензии от имени и за счет Принципала. <br>
Ни при каких обстоятельствах Агент не несет ответственности за нарушение прав третьих лиц в случае, если такие претензии возникли в связи с выполнением Агентом Поручения по настоящему Договору. <br>
5.2. Агент гарантирует, что ни на момент заключения Договора, ни в дальнейшем по ходу его исполнения - не претендует на какие-либо исключительные права на аудио контент и иные материалы, переданные ему Принципалом в ходе исполнения настоящего Договора. 
5.3. Агент гарантирует невмешательство в творческую деятельность Принципала. <br>
5.4. Принципал понимает и принимает факт наличия различных технических требований в зависимости от Площадки и гарантирует, что будет предпринимать все необходимые от него действия по изменению технических характеристик аудио контента для его соответствия требованиями Площадки в течение 3 (Трех) рабочих дней с момента получения соответствующего запроса от Агента. <br>
5.5. Агент не гарантирует Принципалу достижения определенных результатов, количества прослушиваний/ скачиваний, определенной суммы прибыли, а равно не дает иных гарантий, связанных с исполнением Поручения, за исключением того, что Агент предпримет все объективно зависящие от него действия для качественного выполнения Поручения Принципала. <br>
5.6. Принципал соглашается с тем, что Агент не имеет возможности влиять на правила Площадок и устанавливать порядок прослушивания аудио контента, его популярность, стоимость скачивания/прослушивания, качество воспроизведения, количество скачиваний/прослушиваний. 
5.7. Принципал гарантирует, что в течение срока действия Договора, не будет загружать аудио контент на Площадки не через Агента (самостоятельно или с помощью/через третьих лиц). <br>
5.8. Принципал гарантирует, что содержание аудио контента, передаваемого по настоящему Договору, соответствует требованиям законодательства РФ. В случае поступления каких-либо претензий со стороны третьих лиц или уполномоченных государственных органов - Принципал самостоятельно разрешает указанные претензии, а также компенсирует Агенту его документально подтвержденные убытки, штрафы, связанные с такими претензиями. Агент также освобождается от ответственности, в случае блокировки аудио контента Площадкой, в случае, если причины блокировки не зависят от действия/бездействия Агента.<br>
5.9. Агент не несет ответственности за предоставление Принципалом неверных данных, в том числе некорректного адреса электронной почты, библиографических данных, иной неверной информации. Достоверность указанной информации является полной и самостоятельной ответственностью Принципала. <br>
5.10. Принципал гарантирует, что имеет право действовать от лица музыкального коллектива, а также вправе заключать настоящий Договор с Агентом от лица музыкального коллектива. Любые претензии и иски, связанные с нарушением данной гарантии - разрешаются Принципалом самостоятельно. 

</p>
<h2>6. Форс-Мажор</h2>
<p>

6.1. Каждая Сторона освобождается от ответственности за частичное или полное неисполнение своих обязательств по настоящему договору, если неисполнение обязательств явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего договора в результате событий чрезвычайного характера, которые Сторона не могла ни предвидеть, ни предотвратить разумными мерами. К обстоятельствам непреодолимой силы относятся события, на которые Сторона не может оказать влияния и за возникновение которых она не несет ответственности, в том числе природные явления, действия органов власти, блокировка Платформ.<br>
6.2. Сторона, ссылающаяся на обстоятельства непреодолимой силы, обязана информировать другую Сторону о наступлении подобных обстоятельств в письменной форме в течение 5 (Пяти) рабочих дней с даты их наступления.<br>
Информация должна содержать данные о характере обстоятельств, а также, по возможности, оценку их влияния на исполнение Стороной своих обязательств по Договору и на срок исполнения обязательств.
6.3. Сторона, которая не может из-за обстоятельств непреодолимой силы выполнить обязательства по Договору, должна приложить все усилия к тому, чтобы как можно скорее ликвидировать последствия невыполнения своих обязательств.
6.4. При прекращении действий указанных обстоятельств Сторона должна известить об этом другую Сторону в письменном виде. При этом Сторона должна указать срок, в который предполагается исполнить обязательства по настоящему Договору.
6.5. Если Сторона не направит или несвоевременно направит необходимое извещение, то она обязана возместить другой Стороне убытки, причиненные неизвещением или несвоевременным извещением.
6.6. В случае возникновения обстоятельств непреодолимой силы срок выполнения обязательств по настоящему Договору отодвигается соразмерно времени, в течение которого действуют такие обстоятельства и их последствия.

</p>
<h2>7. Ответственность </h2>
<p>
7.1. В случае неисполнения или ненадлежащего исполнения своих обязательств по Договору Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.
7.2. Сторона, причинившая своими действиями другой стороне убытки, обязана возместить их в полном объеме.
7.3. Агент несет ответственность в размере действительного ущерба за сохранность документов, имущества и материальных ценностей, полученных им от Принципала или третьих лиц в процессе исполнения настоящего Договора.
7.4. В случае наличия претензий третьих лиц, связанных с контентом Принципала, последний самостоятельно отвечает на все претензии без содействия и привлечения Агента.
7.5. В случае досрочного расторжения настоящего Договора, не связанного с действиями Агента, с нарушением срока, установленного пунктом 9.3 Договора, Принципал обязуется выплатить Агенту, помимо вознаграждения, причитающегося Агенту в связи с выполнением Поручения до даты расторжения Договора, компенсацию в размере 50 000,00 (Пятьдесят тысяч) рублей 00коп. 
7.6. В случае нарушения гарантий, предусмотренных п. 5.7. Договора, Принципал обязуется уплатить Агенту штраф в размере 100 000,00 (Сто тысяч) рублей 00 коп. за каждый случай нарушения. 
7.7. Агент не несет ответственности за косвенные убытки Принципала, а равно за возможную упущенную выгоду, если данные убытки не связаны непосредственно с действиями Агента. 

</p>
<h2>8. Разрешение споров</h2><p>

8.1. Все споры и разногласия, которые могут возникнуть у Сторон в ходе исполнения Договора, будут разрешаться Сторонами путем переговоров с приглашением посредника (медиации).
8.2. В случае невозможности разрешения споров путем переговоров – все споры подлежат рассмотрению в Арбитражном суде г. Москвы.
8.3. В любом случае до обращения к посреднику для проведения переговоров (медиации) каждая из Сторон обязана направить другой Стороне претензию и дать разумное время (не менее пятнадцати дней с момента доставки претензии) для ответа и разрешения претензий в добровольном порядке.

</p>
<h2>9. Срок действия Договора и порядок его расторжения</h2><p>

9.1. Срок действия настоящего Договора: 5 лет с момента подписания Договора Сторонами. 
9.2. В случае, если за 6 (Шесть) месяцев до даты его окончания, ни одной из Сторон не направлено уведомление о прекращении Договора, последний автоматически пролонгируется на следующие 5 (Пять) лет. 
9.3. Каждая из Сторон вправе досрочно расторгнуть настоящий Договора, направив уведомление об этом второй стороне не менее, чем за 6 (Шесть) месяцев до желаемой даты его расторжения. 
9.4. В случае получения уведомления от Принципала о желании расторгнуть Договор,  Агент прекращает дальнейшее выполнение Поручения Принципала, приостанавливает продажи аудио контента Принципала. В течение последней недели действия Договора, Стороны осуществляют окончательный расчет, а также подписывают акт и отчет за последний отчетный период. 
9.5. Договор также может быть прекращен досрочно в случае ликвидации/смерти/признания банкротом Агента/Принципала. 

</p>
<h2>10. Персональные данные</h2><p>
10.1. Подписанием настоящего Договора, Принципал дает согласие Агенту на обработку его персональных данных, указанных в настоящем Договоре, а также переданных ему по электронной почте в целях выполнения поручения Принципала. Принципал соглашается с тем, что Агент вправе использовать полученные от Принципала персональные данные исключительно в целях, необходимых для выполнения поручения по Договору, в том числе путем передачи его персональных данных третьим лицам, Площадкам, путем опубликования и доведения их до всеобщего сведения. К персональным данным относятся такие данные, как: фамилия, имя, отчество Принципала, дата и место рождения, адрес электронной почты Принципала, семейное положение принципала и иные сведения, передаваемые в рамках исполнения обязанностей по настоящему Договору. 
10.2. Агент вправе собирать, обрабатывать, опубликовывать, уничтожать, передавать указанные в п. 10.1. Договора персональные данные в целях исполнения обязанностей по настоящему Договору. 

</p>
<h2>11. Прочие положения</h2><p>

11.1. Переуступка одной Стороной своих прав и обязанностей по настоящему Договору третьим лицам не допускается. Агент вправе привлекать третьих лиц для исполнения Поручения по настоящему Договору.
11.2. Во всем остальном, что не предусмотрено настоящим Договором, Стороны руководствуются действующим законодательством Российской Федерации.
11.3. Любые изменения и дополнения к настоящему Договору действительны при условии, если они совершены в письменной форме, скреплены печатями и подписаны уполномоченными на то представителями обеих Сторон.
11.4. Стороны договорились считать документы, переданные по средствам электронной почты связи, надлежащим документом до момента предоставления подлинников указанных документов. Предоставление Сторонами подлинников первичных бухгалтерских документов является обязательным. 
11.5. Все приложения к настоящему Договору являются его неотъемлемой частью, при наличии в них ссылки на настоящий Договор, подписания указанных приложений уполномоченными представителями Сторон и скрепления подписей печатями (в случае их наличия) Сторон.
11.6. Стороны договорились сохранять в режиме конфиденциальности любые сведения, полученные одной Стороной в отношении другой в ходе исполнения настоящего Договора. Режим конфиденциальности распространяется на информацию, которую любая из Сторон обозначит как конфиденциальную до или сразу после ее предоставлении другой Стороне. К конфиденциальной информации будет относится информация об условиях сотрудничества Сторон согласно настоящему Договору, о наличии договоренностей Агента с Площадками, о перечне Площадок, технические, производственные и технологические вопросы деятельности Агента.
11.7. К информации, признаваемой в соответствии с настоящим Договором конфиденциальной, не могут относиться сведения, являющиеся в соответствии с требованиями российского законодательства общедоступными, а равно сведения, предоставляемые Принципалом исключительно для доведения их до всеобщего сведения или передаче Площадкам.
11.8. Обязательства о конфиденциальности сохраняют силу и в течение одного года после истечения срока действия или расторжения настоящего Договора.
11.9. В случае изменения каких-либо реквизитов, а равно в случае потери возможности входа в электронную почту, указанную в настоящем Договоре, Сторона, у которой произошли данные изменения должна в срок не позднее 2 (Двух) рабочих дней уведомить вторую Сторону о таких обстоятельствах. В случае несвоевременного уведомления, Сторона, которая не была уведомлена об изменениях - не несет ответственности за неполучение 
информации/денежных средств, направленных второй Стороной по реквизитам, указанным в настоящем Договоре.11.10. Договор составлен на русском языке в двух экземплярах, имеющих одинаковую юридическую силу, по одному для каждой Стороны.
11.11. На момент подписания настоящего Договора, Приложение №1 и Приложение №2 - являются неотъемлемыми частями Договора. 
</p>
<h2>12. Реквизиты сторон</h2>

	<table border="1">
		<tr>
			<td>Заказчик:</td>
			<td><p>{{ contragent1.name }}, ИНН {{ contragent1.inn }}, р/с {{ contragent1.raschet }} в банке {{ contragent1.bank }}, БИК {{ contragent1.bik }}, к/с {{ contragent1.korr }}</p>
			</td>
		</tr>
		<tr>
			<td>Исполнитель:</td>
			<td><p>{{ contragent2.name }}, ИНН {{ contragent2.inn }}, р/с {{ contragent2.raschet }} в банке {{ contragent2.bank }}, БИК {{ contragent2.bik }}, к/с {{ contragent2.korr }}</p></td>	
		</tr>
	</table>
	<p>&nbsp;</p>


	<table border="1">
		<tr>
			<td>№</td>
			<td> Наименование работ, услуг</td>
			<td>Кол-во</td>
			<td>Ед.</td>
			<td>Цена</td>
			<td>Сумма</td>
		</tr>
		<tr>
			<td>1.</td>
			<td>{{ model.name }}</td>
			<td></td>
			<td></td>
			<td>{{ model.summa }}</td>
			<td>{{ model.summa }}</td>
		</tr>
		
	</table>

	
	<p><b>Всего оказано услуг 1, на сумму {{ model.summa }} руб</b></p>
	<p><b>{{ money.summa_p }}</b></p>

<p>Вышеперечисленные услуги выполнены полностью и в срок. Заказчик претензий по объему, качеству и
срокам оказания услуг не имеет.</p>

	<br><br>

	<h2>ПОДПИСИ СТОРОН:</h2>

	<table class="tb">
		<tr>
			<td width="50%">
				<p><b>Заказчик:</b></p>
				<p>{{ contragent1.name }}</p>
				<p>ИНН: {{ contragent1.inn }} </p>
				<p>Почтовый адрес: {{ contragent1.jaddress }}</p>
				<p>Юридический адрес: {{ contragent1.faddress }}</p>
				<p>&nbsp;</p>
				<p>_________________ ({{ contragent1.man }})</p>
			</td>
			<td width="50%">
				<p><b>Исполнитель:</b></p>
				<p> {{ contragent2.name }}</p>
				<p>ИНН: {{ contragent2.inn }} </p>
				<p>Почтовый адрес: {{ contragent2.jaddress }}</p>
				<p>Юридический адрес: {{ contragent2.faddress }}</p>
				<p>&nbsp;</p>
				<p>_________________ ({{ contragent2.man }})</p>
			</td>
		</tr>
	</table>
</div>


