<div class="akt">
	<p style="text-align: center;"><b>Договор  №{% if model.act_number %}{{ model.act_number }}{% endif %}   </b>
	<table class="tb">
		<tr>
			<td>г. Санкт-Петербург</td>
			<td class="tar">{{ model.date_act|date('d.m.Y') }}</td>
		</tr>
	</table>
</p>
<p style="font-size: 10px; ">
{% if contragent2.company_type == "индивидуальный предприниматель" %}{{ contragent2.name }}{%else%}{{ contragent2.name }}, в лице {{ contragent2.man_genitive }}, действующего на основании {{ contragent2.doc_basis }}{%endif%}, именуемое в дальнейшем «Исполнитель», с одной стороныи {{ contragent1.name }}, {% if contragent1.company_type == "индивидуальный предприниматель" %}именуемый в дальнейшем «Заказчик»{%else%} в лице {{ contragent1.man_genitive }}, действующего на основании {{ contragent1.doc_basis }}, именуемое в дальнейшем «Заказчик»{%endif%}, с другой стороны, вместе в дальнейшем именуемые «Стороны», а по отдельности «Сторона», заключили настоящий Договор о нижеследующем:<br>
<b>1. Предмет Договора</b><br>
1.1. Подготовка, организация и проведение корпоративного мероприятия{%if event.id %} {{event.date|date('d.m.Y H:i') }} по {{event.date_end|date('d.m.Y H:i')}}  по адресу: {{place.cities.name}}, {{place.address}}, {{place.name}}{% endif %}.<br>
<b>2. Права и обязанности сторон</b><br>
2.1. «Исполнитель» принимает на себя следующие обязательства:<br>
2.1.1. Провести организовать корпоративное мероприятие на высоком художественном
уровне<br>
2.1.3. Приехать на концертную площадку за 12 часов до начала мероприятия.<br>
2.1.4. Привезти и смонтировать необходимую для музыкального сопровождения мероприятия звукоусиливающую и световую аппаратуру.<br>
2.1.5. Написать и согласовать с заказчиком<br>
2.1.6. Организовать выступления музыкальных коллективов.<br>
2.1.7. Провести развлекательные  и творческие  конкурсы.<br>	
2.1.7. Обеспечить логистику музыкантов и доставку оборудования.<br>
2 1.8. Разработать и создать декор и монтаж арт-объектов в количестве 5 штук.<br>
2.2. «Заказчик» принимает на себя следующие обязательства:<br>
2.2.1. Предоставить помещение, где музыканты и организаторы могут переодеться и
оставить личные вещи и кофры музыкальных инструментов.<br>
<b>3. Порядок расчетов</b><br>
3.1. Стоимость услуг «Исполнителю» по настоящему договору составляет {{ money.summa_p }}. Сумма оплачивается безналичным платежом в размере 100%.<br>
<b>4. Ответственность сторон</b><br>
4.1. «Исполнитель» перед «Заказчиком» и «Заказчик» перед «Исполнителем» несут ответственность за все причиненные реальные убытки, возникшие в связи с отменой концерта не позднее 7 дней после намеченной даты проведения концерта.<br>
<b>5. Срок действия</b><br>
5.1. Настоящий договор вступает в силу после подписания его обеими сторонами и
действует до исполнения сторонами своих обязательств по настоящему договору.<br>
<b>6. Прочие условия</b><br>
6.1. Стороны освобождаются от ответственности за частичное или полноенеисполнение обязательств по настоящему договору, если это неисполнение явилось средствами форс-мажора (обстоятельства
непредвиденной силы: стихийное бедствие, катастрофы, травмы и т. д.), возникшего
после подписания договора.<br>
6.1.1. При наступлении форс-мажора каждая сторона должна известить о них другую сторону в письменной форме. Извещение должно содержать официальные документы, удостоверяющие наличие этих обстоятельств.<br>
6.1.2. В случаи отсутствия извещения о форс-мажоре или его неисполнении поступления в адрес заинтересованной стороны, другая сторона обязана возместить реально понесенные убытки.<br>
6.1.3. В случаи наступления форс-мажора договор может быть расторгнут.<br>
6.2. Настоящий договор может быть изменен или прекращен по письменному согласию
сторон.<br>
<b>7. Заключительное положение</b><br>
7.1. По всем остальным вопросам не предусмотренным настоящим договором, стороны
руководствуются действующим законодательством Российской Федерации.<br>
7.2. Настоящий договор составлен в двух экземплярах, имеющий одинаковую
юридическую силу, по одному экземпляру для каждой из сторон.<br>



<br><b>12. Реквизиты сторон</b>

	

	<table class="tb">
		<tr>
			<td width="50%">
				<br><b>Заказчик:</b>
				<br>{{ contragent1.name }}
				<br>ИНН: {{ contragent1.inn }} 
				<br>Почтовый адрес: {{ contragent1.jaddress }}
				<br>Юридический адрес: {{ contragent1.faddress }}
				<br>&nbsp;
				<br>_________________ ({{ contragent1.man }})
			</td>
			<td width="50%">
				<br><b>Исполнитель:</b>
				<br> {{ contragent2.name }}
				<br>ИНН: {{ contragent2.inn }} 
				<br>Почтовый адрес: {{ contragent2.jaddress }}
				<br>Юридический адрес: {{ contragent2.faddress }}
				<br>&nbsp;
				<br>_________________ ({{ contragent2.man }})
			</td>
		</tr>
	</table>
</p>	
</div>


