<div class="akt">
	<p style="text-align: center;">
	<table class="tb">
		<tr>
			<td> </td>
			<td class="tar">Заявление <br>от {{ contragent2.name }} <br>и {{ contragent1.name }} </td>
		</tr>
	</table>
	</p>
<h4 class="center">Заявление</h4>
<p>Я, {{ contragent1.name }} ({{ contragent1.doc_type }} {{ contragent1.doc_number }}{% if contragent1.birth_date %}, дата рождения {{contragent1.birth_date}}{% endif%}), уведомляю РАО, что «____»_____________201  г. на площадке клуба «Шестнадцать Тонн» (г.Москва) в рамках концерта группы ___________________________________________________,
организатор - ИП «КАМАКИН ПАВЕЛ НИКОЛАЕВИЧ», будет осуществляться публичное исполнение следующих музыкальных произведений с текстом или без текста (далее – Произведения), единоличным автором которых я являюсь: <br>
	{{model.info}}
</p>
<p> Прошу РАО не осуществлять сбор авторского вознаграждения за использование вышеуказанных Произведений.
</p><p>
	Я гарантирую, что:<br>
- являюсь единственным обладателем прав на использование (способом публичного исполнения) всех Произведений в части музыки и текста;<br>
- в концертном мероприятии будут использованы исключительно вышеперечисленные Произведения в  моем исполнении;<br>
- действия РАО, осуществленные в соответствии  с настоящим заявлением, не нарушат прав третьих лиц. </p><p>
	В случае нарушения данных гарантий я обязуюсь самостоятельно за счет собственных сил и средств урегулировать претензии, предъявленные любыми третьими лицами, тем самым освободив РАО от возможных убытков.</p><p>
Также я обязуюсь не предъявлять каких-либо требований к РАО о выплате авторского вознаграждения за использование Произведений в рамках указанного концертного мероприятия. 

</p>
<p>
	<table class="tb">
		<tr>
			<td width="50%">
				
				<br>_________________(дата) 
			</td>
			<td width="50%">
				
				<br>_________________ (подпись)
			</td>
		</tr>
		
	</table>
</p>

<p>(резолюция представителя РАО) ___________________________________________ «__»_____________ 2020 г.
</div>


