{% set mnths = ['','января','февраля','марта','апреля','мая','июня','июля','августа','сентября','октября','ноября','декабря'] %}

<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<button type="button" class="left_toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
			<h2>{{ biblioevent.name }} | {{ biblioevent.cities.name }}</h2>
			<!-- <span class="tal mt0">{{ biblioevent.categoryevents.category }} </span> -->
		</div>
	</div>
	<div class="col-xs-12 col-lg-3 left_blo">
		{{ this.render('/module/event_step.twig', {'biblioevent' : model, 'user' : user}) | raw }}
	</div>
	<div class="col-xs-12 col-lg-9">
		<div class="newblo">
			<div class="row">
				<div class="col-xs-12 col-lg-3 mb20">
					<form method="get">
						<input type="hidden" name="id" value="{{ biblioevent.id }}">
						<select name="event_id" class="form-control" onchange="this.form.submit()">
							<option value="">Все даты</option>
							{% for row in dates %}
								<option value="{{ row.id }}" {% if row.id == event_id %}selected{% endif %}>{{ row.date|date("j") }} {{ mnths[row.date|date("n")] }} {{ row.date|date("Y") }} - {{ row.date|date("H:i") }}</option>
							{% endfor %}
						</select>
					</form>
					<small> {% if event_id %}<a class="btn-success small btn btn-xs" href="/crm/events/update?id={{event_id}}"><span class="glyphicon glyphicon-pencil"></span></a>
				</div>

			</div>
		</div>
		<table class="tb hidden-xs">
			<tr>
				<th>#<br>Дата<br>
				Купил</th>
				<th>Фамилия<br>Имя</th>
				<th>Почта<br>Телефон</th>	
				<th>Название билета</th>
				<th>utm метки</th>
				<th class="tar">Р.</th>

				<th colspan="2">Статус </th><th colspan="2">Пришел</th>
			</tr>
			{% for tik in tickets %}
				<tr class="{% if tik.status == 5 or tik.summa == 0 %} green {% elseif tik.status == 8 %} black {% elseif tik.status == 7 %} red {% else %} yellow {% endif %}">
					<td class="mini"><a href="https://igoevent.com/site/ticket?barcode={{ tik.barcode }}" >{{ tik.id }}</a><br>
						<a href="/crm/tickets/view?id={{ tik.id }}">{{ tik.date|date('d.m.y H:i') }}</a><br>
						{{ tik.events.date|date('d.m.y H:i') }}
						<br><span>event_id: {{ tik.event_id }} <br> seat_id: {{ tik.seat_id}}<br><a href="https://yookassa.ru/my/payments?search={{ tik.order_id }}">{{ tik.order_id }}</a></span>
					</td>

					<td class="mini">
						<a target="_blank" href="/crm/persons/view?id={{ tik.persons.id }}">{{ tik.persons.second_name }}</a><br>
						{{ tik.persons.name }}<br>
						{{ tik.persons.company_id}}
					<!--{{ tik.persons.middle_name }}--></td>

					<td class="mini"> <a href="mailto:{{ tik.persons.mail }}?subject={{ biblioevent.name }}&body=Здравствуйте, {{ tik.persons.second_name }} {{ tik.persons.name }}.">{{ tik.persons.mail }}</a> <br>
					
					<a href="tel:{{ tik.persons.phone }}">{{ tik.persons.phone }}</a>(<a href="https://wa.me/{{ tik.persons.phone }}?text=Здравствуйте. {{ tik.persons.name }} {{ tik.persons.second_name }}. Пишу вам по поводу {{ biblioevent.name }}. http://igoevent.com/{{ biblioevent.cities.alias }}/event/{% if  biblioevent.alias %}{{ biblioevent.alias }}{% else %}{{ biblioevent.id }}{%endif%}?utm_source=whatsapp">wap</a>)<br>
					{% if tik.persons.vk_id %}<a href='https://vk.com/write{{tik.persons.vk_id}}'>vk</a>{% endif %}
					</td>

					<td class="mini">{{ tik.seats.name }} {% if tik.seat %} №{%if tik.seat < 10 %}0{%endif%}{{ tik.seat }} {% endif %} <br>{% if tik.field1 %} <a href="/crm/tickets/view?id={{tik.id}} ">см. доп. поля</a>{% endif %}
					<br><span style="color:red;">{{ tik.info }}</span>
					<br>
					<input  type="text" class="noborder crd nb jMark" name="mark" tik_id="{{ tik.id }}" value="{{ tik.mark }}" placeholder="пометка">

					<br><span style="color:blue;">{{ tik.promocode }}</span>

					</td>

					<td class="mini">
						<div class="admin_td_utm">{{ tik.utm_medium}}</div>
						<div class="admin_td_utm">{{ tik.utm_source}},</div>
						<div class="admin_td_utm">{{ tik.utm_campaign}}</div>
						<div class="admin_td_utm">{{ tik.utm_content}}</div>
						<div class="admin_td_utm">{{ tik.utm_term}}</div>
					</td>

					<td class="tar">{{ tik.money }}</td>

					<td>
						{% if tik.canceled == 1 %}<span style="color:red;">Аннулирован!</span>{% endif %}
						<p class="çolor">

							{% if tik.status == 5 %} Опл.{% elseif tik.status == 7 %} Возврат<sup><a href="https://wa.me/{{ tik.persons.phone }}?text=Возврат оформил. В течение нескольких дней деньги поступят вам на счет(зависит от банка: в большинстве банков в тот же день, когда был оформлен возврат). Приношу извинения за доставленные неудобства. Если возникнут вопросы пишите. Постараюсь помочь.">wap</a></sup> {% elseif tik.status == 8 %} Отмена {% elseif tik.status == 3 %} Не оплачен {% elseif tik.status == 1 %} 
								{% if tik.summa == 0 %}
									Рег.{% else %}Бронь
								{% endif %}
							{% endif %}

						</p>
					</td>

					<td>{% if tik.send == 1 %}<span class="glyphicon glyphicon-envelope"></span>{% endif %}</td>
					<td tag="{{ tik.status_come }}">{% if tik.status_come == 1 %}Да{% elseif tik.status_come == 2 %}Нет{% endif %}</td>

					<td><a class="comein" tag="{{ row.biblioevent.id }}" id="{{ tik.id }}"><span class="glyphicon glyphicon-ok-circle"></span></a></td>
				</tr>
			{% endfor %}
		</table>
		<br>
		<div class="newblo">
			<div class="row">
				<div class="col-xs-12 col-lg-9"> 
					<a class="din btn btn-success" href="/crm/todos/smm?id={{event_id}}">smm</a> 
					<a class="din btn btn-success" href="/crm/todos/placer?id={{event_id}}">placer</a>
					<a class="din btn btn-success" href="/crm/todos/artist?id={{event_id}}">artist</a>


				</div>
			</div>
		</div>


		{% for row in dates %}
			<small><a class="din btn btn-{% if row.id == event_id %}success{%else%}info{% endif %}" href="/crm/events/update?id={{row.id}}">{{ row.date|date("j") }} {{ mnths[row.date|date("n")] }} {{ row.date|date("Y") }}</a></small>
		{% endfor %}

		<div class="tbmob visible-xs">
			{% for tik in tickets %}
				<div class="newblo{% if tik.status == 5 or tik.summa == 0 %} gtop {% elseif tik.status == 8 %} dtop {% elseif tik.status == 7 %} rtop {% else %} ytop {% endif %}">
					<div class="col-xs-4"><span class="mini"># {{ tik.id }}</span></div>
					<div class="col-xs-4"><span class="mini">Куп {{ tik.date|date('d.m') }}</span></div>
					<div class="col-xs-4"><span class="mini">Дата {{ tik.events.date|date('d.m') }}</span></div>
					<div class="clear"></div>

					<div class="col-xs-6"><span class="mini">{{ tik.persons.mail }} </span><br>
						<a target="_blank" href="/crm/persons/view?id={{ tik.persons.id }}">{{ tik.persons.name }} {{ tik.persons.second_name }}</a>
					</div>
					<div class="col-xs-6"><span class="mini"><a href="tel:{{ tik.persons.phone }}">{{ tik.persons.phone }}</a>(<a href="https://wa.me/{{ tik.persons.phone }}?text=Здравствуйте. {{ tik.persons.name }} {{ tik.persons.second_name }}. Пишу вам по поводу {{ biblioevent.name }}. http://igoevent.com/{{ biblioevent.cities.alias }}/event/{{ biblioevent.alias }}?utm_source=whatsapp&utm_medium=igoevent&utm_campaign=massage">wap</a>)</span><br>
						
					</div>
					<div class="clear"></div>

					<div class="col-xs-12">{{ tik.seats.name }}</div>
					<div class="clear"></div>

					<div class="col-xs-4"><b>{{ tik.money }}</b>р</div>
					<div class="col-xs-4">* <b>{{ tik.count }}</b></div>
					<div class="col-xs-4">= <b>{{ tik.summa }}</b>р</div>
					<div class="clear"></div>

					<div class="col-xs-2 tac">{% if tik.send == 1 %}<span class="glyphicon glyphicon-envelope"></span>{% endif %}</div>
					<div class="col-xs-4 tac" tag="{{ tik.status_come }}">{% if tik.status_come == 1 %}Пришел{% elseif tik.status_come == 2 %}Нет{% endif %}</div>
					<div class="col-xs-3 tac"><a class="comeinmob" tag="{{ row.biblioevent.id }}" id="{{ tik.id }}"><span class="glyphicon glyphicon-ok-circle"></span></a></div>
					<div class="col-xs-3 tac"><a target="_blank" href="/crm/tickets/view?id={{ tik.id }}"><span class="glyphicon glyphicon-eye-open"></span></a></div>
				</div>
			{% endfor %}
		</div>
		{% if event_id %}
		{{ this.render('/module/block_finance_report_event.twig', {'alleventfinances' : alleventfinances}) | raw }}

		{{ this.render('/module/block_finance_report_eventdeal.twig', 
		{	'eventdeal_profit' : eventdeal_profit, 'eventdeal_tickets' : eventdeal_tickets, 'tickets' : tickets })| raw }}
		{% endif %}
	</div> 
</div>


<script type="text/javascript">
$(document).ready(function() {

		$('.steps .guest').addClass('active');

	// Меняем статус что гость пришел
	$(document).on('click', ".comein", function(){
		var ticketid = $(this).attr('id');
		var biblioeventid = $(this).attr('tag');
		var td = $(this).parent('td').prev();
		console.log(td);
		$.ajax({
			type: 'get',
			url: "/crm/biblioevents/comein",
			data: {'ticketid': ticketid, 'biblioeventid': biblioeventid},
			response: 'text',
			success: function(data){
				$('.user').html(data);

				if ($(td).attr('tag') == 1) {
					$(td).html('Нет');
					$(td).attr('tag', 2);
				}else if ($(td).attr('tag') == 2) {
					$(td).html('Да');
					$(td).attr('tag', 1);
				}else if ($(td).attr('tag') == 0) {
					$(td).html('Да');
					$(td).attr('tag', 1);
				}
			}
		})
	});

	// Меняем статус что гость пришел МОБИЛЬНАЯ
	$(document).on('click', ".comeinmob", function(){
		var ticketid = $(this).attr('id');
		var biblioeventid = $(this).attr('tag');
		var td = $(this).parent('div').prev();
		console.log(td);
		$.ajax({
			type: 'get',
			url: "/crm/biblioevents/comein",
			data: {'ticketid': ticketid, 'biblioeventid': biblioeventid},
			response: 'text',
			success: function(data){
				$('.user').html(data);

				if ($(td).attr('tag') == 1) {
					$(td).html('Нет');
					$(td).attr('tag', 2);
				}else if ($(td).attr('tag') == 2) {
					$(td).html('Пришел');
					$(td).attr('tag', 1);
				}else if ($(td).attr('tag') == 0) {
					$(td).html('Пришел');
					$(td).attr('tag', 1);
				}
			}
		})
	});
});
	</script>



