<div class="akt">
	<p style="text-align: center;"><b>Договор  № М{% if model.doc_number %}{{ model.doc_number }}{%else%} ______________{% endif %}   </b>
	<table class="tb">
		<tr>
			<td>г. Москва</td>
			<td class="tar">{% if model.date_doc != '' %}{{ model.date_doc|date('d.m.Y') }}{% else %}___ / ___ / 20___ г. {% endif %}</td>
		</tr>
	</table>
</p>
<p style="font-size: 10px; ">{{ contragent2.name }} {% if contragent2.company_type == 'ООО' %}(ОГРН {% elseif contragent2.company_type == 'ИП' or contragent2.company_type == 'индивидуальный предприниматель' or contragent2.company_type =='индивидуальный предприниматель ' %}(ОГРНИП {% else %} ________ {%endif%} 



	{% if contragent2.ogrn %}{{ contragent2.ogrn }}){%endif%}, {% if contragent2.man_genitive %}в лице {{contragent2.man_genitive}},{% else%} ______________________________, {%endif%}  именуемое в дальнейшем «Исполнитель»  с одной стороны и 

	
	{% if contragent1.company_type == 'индивидуальный предприниматель' %} 
		{% if contragent1.name %}{{ contragent1.name }}{%else%}________________________________________{%endif%} {% if contragent1.ogrn %}(ОГРН {{ contragent1.ogrn }}),{%endif%}
		именуемый в дальнейшем «Заказчик»
	{% else %}
		{% if contragent1.name %}{{ contragent1.name }}{%else%}________________________________________{%endif%}{% if contragent1.ogrn %}(ОГРН {{ contragent1.ogrn }}){%endif%}{% if contragent1.man_genitive %}, в лице {{contragent1.man_genitive}}{% else%}______________________________, {%endif%}{% if contragent1.doc_basis %} действующего на основании {{ contragent1.doc_basis }},{% endif %}
		именуемое в дальнейшем «Заказчик»
	 {% endif %}
	 

	
	

 с другой стороны, вместе в дальнейшем именуемые «Стороны», а по отдельности «Сторона», заключили настоящий Договор о нижеследующем:<br>
<b>1. Предмет Договора</b><br>
1.1. Исполнитель обязуется оказать Заказчику комплекс услуг по организации участия Заказчика в выставке «Маркет 4 Сезона» (далее: «Выставка», «Мероприятие»), обеспечить 1 (одному) представителю Заказчика возможность демонстрации своих работ, путем предоставления выделенного места в порядке, на условиях, определенных Договором, а также оказать иные услуги в соответствии с условиями настоящего Договора.<br>
1.2. Исполнитель оказывает Заказчику предусмотренные настоящим Договором услуги только при условии перечисления Заказчиком в полном объеме предварительной оплаты по настоящему Договору .<br>
{% if event.id %}1.3. Выставка проводится в период с {{event.date|date('d.m.Y H:i') }} по {{event.date_end|date('d.m.Y H:i')}}  по адресу: {{place.cities.name}}, {{place.address}}, {{place.name}}  .<br>
{% else %}1.3. Выставка проводится в период с ___ / ___ / 20___ по  ___ / ___ / 20___  по адресу: ________________________________________ ________________________________________________________________________________________________________________________.<br>

{% endif %}
1.4. Предусмотренные настоящим Договором услуги оказываются с момента получения Исполнителем от Заказчика оплаты, предусмотренной п. 2.1. настоящего Договора.<br>
1.5 К отношениям Сторон по настоящему Договору применяются положения действующего законодательства Российской Федерации о рекламе. Заказчик несет самостоятельную ответственность за соответствие демонстрируемых им работ действующему законодательству РФ, в том числе не нарушает ни каких прав третьих лиц, является собственностью Заказчика, и последний обладает всеми необходимыми исключительными правами на выставляемые работы.
<br><b>2. Цена договора, порядок оплаты и принятия услуг</b><br>
2.1. Стоимость услуг по настоящему Договору составляет {% if model.summa == 0 %}_____________________________________________________{% else%} {{ model.summa }}{% endif %}, НДС не облагается в связи с применением Исполнителем упрощенной системы налогообложения. 
2.2. Заказчик производит оплату, предусмотренную п. 2.1. настоящего Договора, на основании выставленного счета в срок не позднее 5 рабочих дней с даты подписания настоящего Договора.<br>
2.3. Расчеты по настоящему Договору производятся Заказчиком в рублях путем перечисления безналичных денежных средств на расчетный счет Исполнителя. Датой оплаты считается дата поступления денежных средств на расчетный счет Исполнителя.<br>
2.4. В случае не перечисления оплаты в указанные в п. 2.2. Договора сроки, Исполнитель вправе в одностороннем порядке отказаться от дальнейшего исполнения Договора. Заказчик, не оплативший полную стоимость настоящего Договора до начала мероприятия — не допускается к участию.<br>
2.5. Расчеты осуществляются по реквизитам, указанным в разделе 10 «Адреса, реквизиты и подписи Сторон» настоящего Договора. Любые изменения в платежных реквизитах оформляются подписания Сторонами дополнительного соглашения к настоящему Договору.<br>
2.6. По результату выполнения Исполнителем своих обязательств по настоящему Договору, Исполнитель передает Заказчику подписанный со своей стороны акт оказания услуг, в котором указывается полным объем оказанных в рамках настоящего Договора услуг. Если Заказчик в течение 5 (Пять) календарных дней с момента получения акта не подписал указанный акт и не предъявил Исполнителю в письменной форме обоснованной и мотивированной претензии по качеству оказанных услуг, то оказанные Исполнителем услуги считаются принятыми Заказчиком в полном объеме и без замечаний.<br>
2.7. Претензии по качеству оказанных Исполнителем услуг  принимаются  в течение 5 (Пяти) календарных дней с момента окончания Выставки.

<br><b>3. Обязанности Сторон</b><br>
3.1. Заказчик обязуется:<br>
3.1.1. произвести оплату услуг своевременно и в полном объеме в соответствии с условиями настоящего Договора;<br>
3.1.2. передавать по требованию Исполнителя необходимую для оказания услуг по настоящему Договору информацию и документацию в срок не позднее, чем за 5 рабочих дней до даты начала Мероприятия; <br>
3.1.3. подписать со своей стороны акт оказания услуг при отсутствии обоснованных и мотивированных возражений;<br>
3.1.4. Распространить информацию об организации Мероприятия и об Исполнителе на своих Интернет-ресурсах.<br>
3.1.5. Соблюдать правила пожарной безопасности, и также санитарных и иных норм и требований во время участия в Мероприятии, а также нести ответственность за действия и/или бездействие своего представителя в течение всего времени проведения Мероприятия. 
3.2. Исполнитель обязуется оказать следующие услуги в соответствии с п. 1.1. настоящего Договора:<br>
3.2.1. обеспечить 1 (одному) представителю  Заказчика возможность демонстрации работ путем предоставления места, площадью не более 2 кв.м. на территории площадки проведения Мероприятия.<br>
3.2.2. Распространить информацию о Мероприятии на своем сайте в сети Интернет, с использованием информационно аналитического агентства «КудаГо» (kudago.com) а также в социальных сетях.<br>
3.2.3. Исполнитель обязуется:<br>
3.3.4. оказать услуги своевременно и качественно;<br>
3.3.5. своевременно выставить Заказчику счет на оплату;<br>
3.3.6. предоставлять Заказчику всю необходимую информацию о проведении Мероприятия.<br>
3.4. Исполнитель имеет право: требовать от Заказчика подписания акта приема - передачи оказанных услуг по настоящему Договору.<br>
3.5. Заказчик имеет право:<br>
3.5.1. требовать от Исполнителя оказания услуг своевременно и качественно;<br>
3.5.2. на предоставление ему полной информации, необходимой для принятия представителя  Заказчика участия в Мероприятии (в том числе: данные представителя, согласие на обработку персональных данных по форме Приложения №1 к настоящему Договору, фотографии, эскизы планируемых к демонстрации результатов деятельности).

<br><b>4. Форс-мажор</b><br>
4.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если таковые явились следствием действия обстоятельств непреодолимой силы, не поддающихся разумному контролю Сторон, возникших после заключения настоящего Договора, а также объективно препятствующих полному или частичному выполнению Сторонами своих обязательств по настоящему Договору, включая: войны, военные действия любого характера, блокады, забастовки, землетрясения, наводнения, пожары и другие стихийные бедствия, а также запрет компетентных государственных органов на действия Сторон или существенные изменения в законодательстве, затрагивающие условия или порядок исполнения Договора. Срок исполнения Сторонами договорных обязательств соразмерно отодвигается на время действия таких обстоятельств.<br>
4.2. Сторона, для которой создалась невозможность исполнения обязательств по Договору в силу вышеуказанных причин, должна без промедления письменно известить об этом другую Сторону в течение 3 (Трех) календарных дней с момента наступления таких обстоятельств. Допускается извещение по факсимильной связи с обратным уведомлением о получении сообщения.<br>
4.3. Если обстоятельства непреодолимой силы действуют в течение более 1 (Одного) месяца, любая из Сторон вправе отказаться от дальнейшего выполнения обязательств по настоящему Договору, причем ни одна из Сторон не может требовать от другой Стороны возмещения возможных убытков.
<br><b>5. Ответственность Сторон</b><br>
5.1. За неисполнение или ненадлежащее исполнение своих обязательств по настоящему Договору Стороны несут ответственность в соответствии с законодательством Российской Федерации.<br>
5.2. В случае, если Заказчик не произвел оплату в порядке, размере и сроки, предусмотренные в настоящем Договоре, то Исполнитель имеет право в одностороннем порядке расторгнуть настоящий Договор.<br>
5.3 В случае наличия претензий третьих лиц, связанных с работами Заказчика, последний самостоятельно отвечает на все претензии без содействия и привлечения Исполнителя.
<br><b>6. Срок договора</b><br>6.1. Настоящий Договор вступает в силу с момента его подписания Сторонами и действует до полного выполнения Сторонами своих обязательств по настоящему Договору.<br>
6.2. Обязательства Сторон считаются выполненными в полном объеме с момента подписания Сторонами акта оказания услуг либо отсутствия действий Заказчика по направлению в адрес Исполнителя мотивированного отказа (претензии) после получения Заказчиком акта оказанния услуг (п. 2.6. настоящего Договора).<br>
6.3. После подписания настоящего Договора все предыдущие письменные и устные соглашения, переписка, переговоры между Сторонами, относящиеся к настоящему Договору, теряют юридическую силу.

<br><b>7. Порядок разрешения споров</b><br>7.1. Все споры и разногласия, которые могут возникнуть у Сторон в ходе исполнения условий настоящего Договора, будут разрешаться Сторонами путем переговоров и переговоров с приглашением посредника (медиации).<br>
7.2. В случае невозможности разрешения споров путем переговоров – все споры подлежат рассмотрению в Арбитражном суде г. Санкт-Петербурга и Ленинградской области.
7.3. В любом случае до обращения в суд каждая из Сторон обязана направить другой Стороне претензию и дать разумное время (не менее пятнадцати дней с момента доставки претензии) для ответа. В случае отсутствия ответа или отрицательного ответа в течение разумного времени – Сторона вправе обратиться в суд. <br>
<b>8. Порядок внесения изменений, дополнений в договор и его расторжение</b><br>
8.1. В настоящий Договор могут быть внесены изменения и дополнения, которые оформляются Сторонами дополнительными соглашениями к настоящему Договору.<br>
8.2. Настоящий Договор может быть досрочно расторгнут по основаниям, предусмотренным законодательством Российской Федерации и настоящим Договором.<br>
8.3. Сторона, решившая расторгнуть настоящий Договор, должна направить другой стороне письменное уведомление о намерении расторгнуть настоящий Договор не позднее, чем за 15 (Пятнадцать) календарных дней до предполагаемой даты расторжения настоящего Договора. Настоящий Договор считается расторгнутым с даты, указанной в уведомлении о расторжении. В случае немотивированного отказа Заказчика от исполнения Договора, внесенная предоплата не подлежит возврату и засчитывается в качестве штрафа за неисполнение обязательств.<br>
8.4 В случае несоответствия работ Заказчика тематике Мероприятия, Исполнитель вправе отказаться от исполнения Договора направив письменное уведомление об этом Заказчику. При этом внесенная предоплата подлежит возврату.
<br><b>9. Заключительные положения</b><br>9.1. Стороны в обязательном порядке обмениваются оригиналами настоящего Договора с оригинальными подписями и печатями не позднее первого дня проведения Мероприятия.<br>
9.2. Переуступка одной стороной своих прав  и обязанностей по настоящему Договору третьим лицам допускается только с предварительного письменного согласия другой стороны.<br>
9.3. Во всем остальном, что не предусмотрено настоящим Договором, Стороны руководствуются действующим законодательством Российской Федерации.<br>
9.4. Любые изменения и дополнения к настоящему Договору действительны при условии, если они совершены в письменной форме, скреплены печатями и подписаны надлежаще уполномоченными на то представителями обеих Сторон.<br>
9.5. Стороны договорились считать документы, переданные по средствам факсимильной связи, надлежащим документом до момента предоставления подлинников указанных документов. Предоставление Сторонами подлинников документов является обязательным.<br>
9.6. Все приложения к настоящему Договору являются его неотъемлемой частью, при наличии в них ссылки на настоящий Договор, подписания указанных приложений уполномоченными представителями Сторон и скрепления подписей печатями Сторон.<br>
9.7. Договор составлен на русском языке в двух экземплярах, имеющих одинаковую юридическую силу, по одному для каждой Стороны.
<br><b>12. Реквизиты сторон</b>

	

	<table class="tb">
		<tr>
			<td width="50%">
				<br><b>Заказчик:</b>
				<br>{{ contragent1.name }}
				<br>{% if contragent1.inn %}  ИНН: {{ contragent1.inn }} {% else %}  {% if contragent1.man %} {{contragent1.man}}{%else%}<small>Фамилия:</small> ____________________________________________<br><br>
				<small>Имя:</small>  ___________________
				<small>Отчество:</small>  _____________________ {%endif%}
				<br><br><small>Паспорт.</small>
<small>Серия</small>_____<small>Номер</small>_______<small>Когда выдан</small> __ / __ / ______ <br>
<small>Кем выдан</small>_________________________________________ <br>

				 {% endif %}
				<br><br> {% if contragent1.jaddress %}Почтовый адрес. {{ contragent1.faddress }} {% else %} 
				<small>Индекс:</small> _____________ 
				<small>Город:</small>  ____________________________<br><br>
				<small>Улица:</small> ________________________________________<br><br>
				<small>Дом</small> ____ <small>Корпус</small> ____ <small>Кв.</small>_____<br>{% endif %}
				<br>{% if contragent1.jaddress %}Юридический адрес:  {{ contragent1.faddress }}
				{% else %} _________________________________<br><br>
				
				____________________________________________<br>{% endif %}
				<br>&nbsp;
				<br>_________________ ({% if contragent1.man %}{{ contragent1.man }}{% else %}_________________ {%endif%})
			</td>
			<td width="50%">
				<br><b>Исполнитель:</b>
				<br> {{ contragent2.name }}
				<br>ИНН: {{ contragent2.inn }} 
				<br>{{ contragent2.bank }} 
				<br>ОГРН: {{ contragent2.ogrn }} 
				<br>Р/с: {{ contragent2.raschet }} 
				<br>БИК: {{ contragent2.bik }} 
				<br>к/с: {{ contragent2.korr }} 
				<br>Почтовый адрес: {% if contragent2.faddress %} {{ contragent2.faddress }} {% else %} 
				_________________________________<br><br>
				____________________________________________<br>{% endif %}
				<br>{% if contragent2.jaddress %} Юридический адрес: {{ contragent2.jaddress }}
				{% else %} 
				_________________________________<br><br>
				____________________________________________<br>{% endif %}
				<br>&nbsp;
				<br>_________________ ({{ contragent2.man }})
			</td>
		</tr>
	</table>
</p>	
</div>


