<div class="akt">
	<p style="text-align: center;"><b>Договор  № {% if model.doc_number %}{{ model.doc_number }}{%else%} ______________{% endif %}   </b>


	<table class="tb">
		<tr>
			<td>г. Москва</td>
			<td class="tar">{% if model.date_doc != '' %}{{ model.date_doc|date('d.m.Y') }}{% else %}___ / ___ / 20___ г. {% endif %}</td>
		</tr>
	</table>
</p>
<h4>Организация музыкального сопровождения корпоративного мероприятия</h4>
<p>
	{{ contragent2.name }} {% if contragent2.company_type == 'ООО' %}(ОГРН {% elseif contragent2.company_type == 'ИП' or contragent2.company_type == 'индивидуальный предприниматель' or contragent2.company_type == 'индивидуальный предприниматель ' %},
	{% if contragent2.doc_basis %} действующего на основании {{contragent2.doc_basis}},  {% endif %} 
	(ОГРНИП {% else %} ________ {%endif%} 
	{% if contragent2.ogrn %}{{ contragent2.ogrn }}){%endif%}, 
	{% if contragent2.company_type == 'ИП' or contragent2.company_type == 'индивидуальный предприниматель' or contragent2.company_type =='индивидуальный предприниматель ' %}



	именуемый{% else %} 

	{% if contragent2.man_genitive %} в лице {% if contragent2.position == 'генеральный директор' %} генерального директора {% endif %} {{contragent2.man_genitive}},{% else%} ______________________________, 
	{%endif%} 


	именуемое{%endif%} в дальнейшем «Исполнитель»  с одной стороны и 

	
	{% if contragent1.company_type == 'индивидуальный предприниматель' %} 
		{% if contragent1.name %}{{ contragent1.name }}{%else%}________________________________________{%endif%} {% if contragent1.ogrn %}(ОГРН {{ contragent1.ogrn }}),{%endif%}
		именуемый в дальнейшем «Заказчик»
	{% else %}
		{% if contragent1.name %}{{ contragent1.name }}{%else%}________________________________________{%endif%}{% if contragent1.ogrn %}(ОГРН {{ contragent1.ogrn }}){%endif%}{% if contragent1.man_genitive %}, в лице {{contragent1.man_genitive}}{% else%} {%endif%}{% if contragent1.doc_basis %} действующего на основании {{ contragent1.doc_basis }},{% endif %}
		{% if contragent1.company_type == 'ИП' or contragent1.company_type == 'индивидуальный предприниматель' or contragent1.company_type =='индивидуальный предприниматель ' %}именуемый{% else %}именуемое{%endif%} в дальнейшем «Заказчик»
	 {% endif %}
	 

	
	

 с другой стороны, вместе в дальнейшем именуемые «Стороны», а по отдельности «Сторона», заключили настоящий Договор о нижеследующем:<br>
<b>1. ПРЕДМЕТ ДОГОВОРА</b><br>
1.1. Договор регулирует взаимоотношения Сторон по оказанию услуг, направленных на организацию мероприятия «{{event.title }}» Исполнителем {{event.date|date('d.m.Y H:i') }}. (далее – «Мероприятие») в сроки и на условиях настоящего Договора, а Заказчик обязуется принять и оплатить надлежащим образом оказанные услуги на условиях Договора.<br>
1.2. Место проведения мероприятия Заказчика: {{place.cities.name}}, {{place.address}}, {{place.name}}.<br>
1.3. Дата и время проведения мероприятия: {{event.date|date('d.m.Y H:i') }}.<br>
</p>

<p><b>2. ОБЯЗАННОСТИ ИСПОЛНИТЕЛЯ</b><br>
В соответствии с настоящим Договором Исполнитель принимает на себя следующие обязательства:   
2.1. Обеспечить предоставление услуг в соответствии с Договором. <br>
2.2. Обеспечить   качественное оказание всех перечисленных в договоре к настоящему договору услуг в объеме и в сроки, предусмотренные настоящим Договором.<br>
2.3. Обеспечить рациональное и бережное использование оборудования и материалов, предоставленных   Заказчиком для оказания услуг по настоящему Договору.<br>
2.4. Обеспечить сохранность конфиденциальной информации Заказчика, ставшей им известной в процессе подготовки Мероприятия. <br>
2.5. Находясь на площадке проведения мероприятия, Исполнитель обязуется соблюдать локально-нормативные акты Заказчика.<br>
2.6. Сообщать Заказчику по его требованию все сведения о ходе исполнения Договора.
2.7. Немедленно уведомлять Заказчика обо всех задержках и затруднениях, возникающих в связи с исполнением настоящего Договора.<br>
2.8. Предоставить Заказчику Акт сдачи-приемки оказанных услуг в течение 3 (трех) дней после окончания оказания услуг. Акт сдачи–приемки оказанных услуг может подписать представитель Исполнителя (на основании доверенности).</p>


<p><b>3. ОБЯЗАННОСТИ ЗАКАЗЧИКА</b><br>
В соответствии с настоящим Договором Заказчик принимает на себя следующие обязательства:
3.1. Обеспечить Исполнителю необходимые технические и бытовые условия на Мероприятии для качественного оказания услуг. <br>
3.2. Оплатить услуги Исполнителя, на основании выставленного счета в соответствии с Договором.<br>
3.3. Подписать Акт сдачи-приемки оказанных услуг в течение 3 (трех) дней с момента получения и вернуть подписанный Акт Исполнителю.</p>

<p>4. СТОИМОСТЬ УСЛУГ И ПОРЯДОК ОПЛАТЫ<br>

4.1. Общая стоимость услуг по договору составляет {% if model.summa == 0 %}_____________________________________________________{% else%} {{propis}}  {% endif %}. Указанная сумма НДС не облагается, ввиду применения Исполнителем упрощенной системы налогообложения (п. 2 ст. 346.11 гл. 26.2. НК РФ).<br>
4.2. Оплата производится Заказчиком в рублях РФ в  течение 3 (трех) рабочих дней с даты подписания Сторонами Акта сдачи-приемки оказанных услуг путем безналичного перечисления денежных средств на расчетный счет Исполнителя.<br>
4.3.  Обязательство Заказчика оплатить стоимость услуг считается исполненным с момента зачисления денежных средств в размерах, указанных в п. 4.1 настоящего Договора, на расчетный счет банка Исполнителя.<br>
4.4. Сдача-приемка услуг оформляется актом оказанных услуг. Исполнитель в течение 3 (трех) рабочих дней с даты оказания услуг предоставляет Заказчику подписанный со своей стороны Акт сдачи-приемки оказанных услуг в 2 (двух) оригинальных экземплярах. Заказчик в течение 3 (трех) рабочих дней с даты получения Акта оказанных услуг обязан его подписать и возвратить Исполнителю или направить Исполнителю мотивированный отказ от его подписания.<br>
4.5. В случае, если в течение указанного срока Акт не будет подписан Заказчиком, или Заказчик не предоставит в письменной форме возражений по Акту, то односторонне подписанный Исполнителем Акт считается подтверждением надлежащего оказания услуг по настоящему договору.
</p>


<p><b>5. ОТВЕТСТВЕННОСТЬ СТОРОН</b>

5.1.  В случае невыполнения или ненадлежащего выполнения условий настоящего Договора любой из Сторон, Стороны руководствуются действующим законодательством РФ.<br>
5.2.  Исполнитель гарантирует и несет ответственность за действительное оказание на Мероприятии всего перечня согласованных в договоре услуг. Исполнитель гарантирует, что оказываемые услуги будут соответствовать требованиям законодательства Российской Федерации и тематике Мероприятия, а также обычно предъявляемым требованиям к такому виду услуг.<br>
5.3. Исполнитель НЕ НЕСЕТ ответственности за ненадлежащее качество выступления из-за независящих от него технических причин, относящихся к зоне ответственности Заказчика: проблемы с электропитанием на площадке, проблемы с работоспособностью основного звукового оборудования (в случае предоставления его заказчиком) и его техническим сопровождением, соответствие сценического подиума погодным условиям и т. п. <br>
5.4. Ответственность за вред, причиненный материальным ценностям Заказчика, сотрудникам Заказчика, несет Исполнитель в соответствии с действующим законодательством РФ.<br>
5.5.  Исполнитель социальному страхованию не подлежит.<br>
5.6. Заказчик гарантирует Исполнителю комфортное и безопасное пребывание на всей территории проведения Мероприятия для выполнения условий данного договора.<br>
5.7. В случае причинения вреда здоровью или порчи имущества Исполнителя сотрудниками Заказчика или сторонними специалистами, привлеченными к организации или техническому обеспечению данного Мероприятия, Заказчик обязуется по мотивированному требованию Исполнителя, направленному Заказчику в письменной форме, либо посредством электронной почты, оказать содействие по возмещению документально подтвержденного ущерба и убытка, нанесенного имуществу или здоровью Исполнителя, при условии вины Заказчика


</p><p>
<b>6. СРОК ДЕЙСТВИЯ ДОГОВОРА</b>
6.1. Настоящий Договор вступает в силу с момента подписания его Сторонами и действует до момента его окончательного исполнения.<br>
6.2. Срок досрочного прекращения Договора определяется по соглашению Сторон, заключаемому в письменной форме. При отсутствии такого соглашения Договор считается расторгнутым по истечение 15 дней с момента получения одной из Сторон письменного уведомления от другой стороны об одностороннем отказе от исполнения Договора.
<p>
<b>
7. ОБСТОЯТЕЛЬСТВА НЕПРЕОДОЛИМОЙ СИЛЫ (ФОРС-МАЖОР)</b><br>

7.1. Стороны освобождаются от частичного или полного исполнения обязательств по настоящему Договору, если это неисполнение явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего Договора в результате событий чрезвычайного характера, которые Стороны не могли ни предвидеть, ни предотвратить разумными мерами. К обстоятельствам непреодолимой силы относятся события, на которые Стороны не могут оказывать влияния и за возникновение которых они не несут ответственности, например, землетрясение, наводнение, пожар, а также забастовка, правительственные постановления или распоряжения государственных органов.<br>
7.2. Сторона, ссылающаяся на обстоятельства непреодолимой силы, обязана немедленно информировать другую Сторону о наступлении подобных обстоятельств в письменной форме, причем по требованию другой Стороны должен быть представлен удостоверяющий документ. Информация должна содержать данные о характере обстоятельств, оценку их влияния на исполнение Стороной своих обязательств по настоящему Договору и на срок исполнения обязательств.<br>
7.3. Сторона, которая не может из-за обстоятельств непреодолимой силы выполнить обязательства по настоящему Договору, приложит с учетом положений Договора все усилия к тому, чтобы как можно скорее компенсировать последствия невыполнения обязательств.
</p>

<p><b>8. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</b>

8.1. Споры и разногласия, которые могут возникнуть при исполнении настоящего Договора, будут, по возможности, решаться путем переговоров между Сторонами.<br>
8.2. В случае невозможности разрешения споров путем переговоров, они будут разрешаться в претензионном порядке путем направления сторонами претензий. Для этого Сторона, считающая, что другой Стороной нарушены условия Договора, обязана направить другой Стороне обоснованную претензию по адресам, указанным в реквизитах Договора. Претензия предъявляется в письменной форме и подписывается руководителем организации или иным надлежащим образом уполномоченным лицом. В претензии указываются требования заявителя, сумма претензии и обоснованный ее расчет, если претензия подлежит денежной оценке, обстоятельства, на которых основываются требования, и доказательства, подтверждающие их, со ссылкой на соответствующие нормы законодательства и договоры, перечень прилагаемых к претензии документов и других доказательств, иные сведения, необходимые для урегулирования спора. Претензия отправляется заказным письмом или иным способом, обеспечивающим фиксирование факта и даты ее отправления, либо вручается под расписку. К претензии прилагаются копии документов, подтверждающих предъявленные требования. Срок ответа на претензию — 10 (десять) рабочих дней с даты её получения Стороной.<br>
8.3.  В случае невозможности разрешения споров в досудебном претензионном порядке Стороны передают их на рассмотрение в Арбитражный суд г. Москвы.</p>

<p><b>9. ИЗМЕНЕНИЕ УСЛОВИЙ НАСТОЯЩЕГО ДОГОВОРА</b><br>
9.1. Условия настоящего Договора имеют одинаковую обязательную силу для Сторон и могут быть изменены по взаимному согласию с обязательным составлением письменного документа. Письменный документ с изменениями и дополнениями составляется в двух экземплярах и является неотъемлемой частью настоящего Договора.<br>
9.2. Стороны устанавливают, что все дополнения и изменения, внесенные в настоящий Договор в одностороннем порядке, не имеют юридической силы.<br>
9.3. Ни одна из Сторон не вправе передавать свои права по настоящему Договору третьей Стороне без письменного согласия другой Стороны.</p>

<p><b>10. ПРОЧИЕ УСЛОВИЯ</b><br>
10.1. Настоящий Договор составлен в двух подлинных экземплярах, по одному для каждой из Сторон.<br>
10.2. После подписания настоящего Договора все предварительные переговоры по нему, переписка, <br>предварительные соглашения и протоколы о намерениях по вопросам, являющимся предметом настоящего Договора, теряют силу.</p>
<p><b>11. АДРЕСА И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН НА МОМЕНТ ЗАКЛЮЧЕНИЯ ДОГОВОРА</b><br>
11.1. Стороны обязуются в течение трех календарных дней письменно информировать друг друга в случае изменения адресов и банковских реквизитов Сторон настоящего Договора.
</p>
	<table class="tb">
		<tr>
			<td width="50%">
				<br><b>Заказчик:</b>
				{% if contragent1.company_type == "физическое лицо" %} {% else%}<br>{{ contragent1.name }} {%endif%}
				<br>{% if contragent1.ogrn %}  ОГРН: {{ contragent1.ogrn }} {% else %} {%endif%}
				<br>{% if contragent1.inn %}  ИНН: {{ contragent1.inn }} {% else %} 
				
				{% if contragent1.man %} {{contragent1.man}} {%else%}
				<small>Фамилия:</small> ____________________________________________<br><br>
				<small>Имя:</small>  ___________________
				<small>Отчество:</small>  _____________________ {%endif%}

				<br><br>
				
					{% if contragent1.doc_number %}	<small>Паспорт. {{contragent1.doc_number}} Выдан: {{contragent1.doc_place }}  {{doc_date|date('d.m.Y') }}</small>		 {% else%}

					<small>Паспорт.</small>
					 <small>Серия</small>_____<small>Номер</small>_______<small>Когда выдан</small> __ / __ / ______ <br>
					<small>Кем выдан</small>_________________________________________ <br>
					{%endif%}
				 {% endif %}
				<br><br> {% if contragent1.faddress %}Почтовый адрес. {{ contragent1.faddress }} {% else %} 
				<small>Индекс:</small> _____________ 
				<small>Город:</small>  ____________________________<br><br>
				<small>Улица:</small> ________________________________________<br><br>
				<small>Дом</small> ____ <small>Корпус</small> ____ <small>Кв.</small>_____<br>{% endif %}
				<br>{% if contragent1.jaddress %}Юридический адрес:  {{ contragent1.faddress }}
				{% else %} _________________________________<br><br>
				
				____________________________________________<br>{% endif %}
				<br>&nbsp;
				<br>_________________ ({% if contragent1.man %}{{ contragent1.man }}{% else %}_________________ {%endif%})
			</td>
			<td width="50%">
				<br><b>Исполнитель:</b>
				<br> {{ contragent2.name }}
				<br>ИНН: {{ contragent2.inn }} 
				<br>{{ contragent2.bank }} 
				<br>ОГРН: {{ contragent2.ogrn }} 
				<br>Р/с: {{ contragent2.raschet }} 
				<br>БИК: {{ contragent2.bik }} 
				<br>к/с: {{ contragent2.korr }} 
				<br>Почтовый адрес: {% if contragent2.faddress %} {{ contragent2.faddress }} {% else %} 
				_________________________________<br><br>
				____________________________________________<br>{% endif %}
				<br>{% if contragent2.jaddress %} Юридический адрес: {{ contragent2.jaddress }}
				{% else %} 
				_________________________________<br><br>
				____________________________________________<br>{% endif %}
				<br>&nbsp;
				<br>_________________ ({{ contragent2.man }})
			</td>
		</tr>
	</table>
</p>	
</div>


