<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="newblo">
            <h2>Отпрка документов</h2>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3 left_blo">
        <div class="steps">
            {{ this.render('/module/finance_step.twig', {'company' : company}) | raw }}
           
        </div>
    </div>
    <div class="col-xs-12 col-lg-9 newblos">
            <div class="newblo btop">
                <p><b>Логистики / требуется</b></p>
                <table class="tb stacktable">
                    {% for row in finance %}
                        {% if row.status_logistics == 1 %}
                        <tr>
                            <td><small>{{ row.id}}<br>{{ row.date|date('d.m.Y') }}</small></td>
                            <td><a href="/crm/logistics/update?id={{ row.id|e }}">{{ row.name|e }}</a><br>
                                {% if row.info %} <small>{{row.info }}</small> {% endif %}
                                
                                <div class="row">
                                    <div class="col-xs-4 col-lg-4">
                                        {% if row.contragent.status_edm == 1 %}<a class="btn btn-warning btn-xs">ЭДО</a>{% endif%} <a  style="font-size: 9px; display: block;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 120px;" href="/crm/contragent/update?id={{ row.from_contragent }}">{{ row.contragent.name }}</a> 
                                    </div>
                                    
                                    <div class="col-xs-4 col-lg-4">
                                    {% if row.contragent.status_edm == 1 %}<a class="btn btn-warning btn-xs">ЭДО</a>{% endif%} 
                                    <a style="font-size: 9px; display: block;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 120px;" href="/crm/contragent/update?id={{ row.to_contragent }}">{{ row.contragentto.name }}</a>
                                    </div>
                                    {% if row.personf.name or row.personto.name %}
                                    <div class="clear"></div>
                                    <div class="col-xs-4 col-lg-4">
                                        {% if row.personf.id %}
                                        <span>{{ row.personf.name }} {{ row.personf.second_name }} uid:{{ row.from_user_id }} pid:<a href="/admin/persons/update?id={{ row.personf.id }}">{{ row.personf.id }}</a>
                                        {% endif %}
                                        {% if row.personf.phone %}: {{row.personf.phone}}(<a href="https://wa.me/{{row.personf.phone}}?text=Здравствуйте. {{ row.personf.name }} {{ row.personf.second_name }}.">wa</a>) {% if row.personf.vk_id %}(<a href="https://vk.com/write{{row.personf.vk_id}}">vk</a>){%endif%}
                                        {%endif%}
                                    </span>
                                    </div>
                                    
                                    <div class="col-xs-4 col-lg-4">
                                        <span class="small">
                                            {% if row.personto.id %}
                                            {{ row.personto.name }} {{ row.personto.second_name }} uid:{{ row.to_user_id }} pid:<a href="/admin/persons/update?id={{ row.personto.id }}">{{ row.personto.id }}</a>
                                            {%endif%}
                                            {% if row.personto.phone %}: {{row.personto.phone}}(<a href="https://wa.me/{{row.personto.phone}}?text=Здравствуйте. {{ row.personto.name }} {{ row.personto.second_name }}.">wa</a>){% if row.personf.vk_id %}(<a href="https://vk.com/write{{row.personto.vk_id}}">vk</a>){%endif%}
                                        {% endif %}
                                        </span>
                                    </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <span class="small">
                                    <a class="btn btn-success btn-xs" href="https://igoevent.com/crm/finance/bill?&id={{ row.id }}">счет</a><br>
                                    <a class="btn btn-success btn-xs" href="https://igoevent.com/crm/finance/akt?&id={{ row.id }}">акт</a>
                                    {% if row.link %}<br>
                                        <a class="btn btn-primary btn-xs" href="{{row.link}}">договор {{row.doc_number}}</a>{% endif %}
                                </span>
                            </td>
                            <td class="tac">
                                {% if row.task_id %}
                                    <a href="/crm/tasks/update?id={{row.task_id}}"><span class="glyphicon glyphicon-th-list"></span></a>
                                {% endif %}
                            </td>
                            <td>{% if row.status_logistics == 100 %}
                                    <p  class="c_green"><b class="small">Завершена</b></p>
                                {% elseif row.status == '' %}
                                    <p class="C_blue"><b class="small">Не нужна</b></p>
                                {% elseif row.status == 1 %}
                                    <p class="c_red"><b class="small">Требуется</b></p>
                                {% endif %}
                                <p class="tar "><b>{{ row.summa|number_format(0, '.', ' ') }}</b> <span class="glyphicon glyphicon-rub lite"></span></p>
                                <p>{% if row.state == 1 %}
                                    <b class="r_blue"></b>
                                    <span>на&nbsp;подпись</span>
                                {% elseif row.state == 2 %}
                                    <b class="r_yell"></b>
                                    <span>подписан</span>
                                {% elseif row.state == 3 %}
                                    <b class="r_green"></b>
                                    <span>проведен</span>
                                {% endif %}</p>
                            </td>
                            <td>
                                
                            </td>
                            <td><a href="/crm/logistics/update?id={{ row.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-xs-12 col-lg-9 newblos">
            <div class="newblo btop">
                <p><b>Логистика / завершена</b></p>
                <table class="tb stacktable">
                    {% for row in finance %}
                        {% if row.status_logistics == 100 %}
                        <tr>
                            <td><small>{{ row.id}}<br>{{ row.date|date('d.m.Y') }}</small></td>
                            <td><a href="/crm/logistics/update?id={{ row.id|e }}">{{ row.name|e }}</a><br>
                                
                                <div class="row">
                                    <div class="col-xs-4 col-lg-4">
                                        {% if row.contragent.status_edm == 1 %}<a class="btn btn-warning btn-xs">ЭДО</a>{% endif%} 
                                        <a  style="font-size: 9px; display: block;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 120px;" href="/crm/contragent/update?id={{ row.from_contragent }}">{{ row.contragent.name }}</a> 
                                    </div>
                                    
                                    <div class="col-xs-4 col-lg-4">
                                    {% if row.contragentto.status_edm == 1 %}<a class="btn btn-warning btn-xs">ЭДО</a>{% endif%} 
                                    <a style="font-size: 9px; display: block;  overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 120px;" href="/crm/contragent/update?id={{ row.to_contragent }}">{{ row.contragentto.name }}</a>
                                    </div>
                                    {% if row.personf.name or row.personto.name %}
                                    <div class="clear"></div>
                                    <div class="col-xs-4 col-lg-4">
                                        <span>
                                            {% if row.personf.id %}
                                            {{ row.personf.name }} {{ row.personf.second_name }}:{{ row.from_user_id }}
                                            {%endif%}
                                            {% if row.personf.phone %}(<a href="https://wa.me/{{row.personf.phone}}?text=Здравствуйте. {{ row.personf.name }} {{ row.personf.second_name }}.">wa</a>){% endif %}
                                    </span>
                                    </div>
                                    
                                    <div class="col-xs-4 col-lg-4">
                                        <span>
                                            {% if row.personf.id %}{{ row.personto.name }} {{ row.personto.second_name }} : {{ row.to_user_id }}
                                            {%endif%}
                                            {% if row.personf.phone %}(<a href="https://wa.me/{{row.personto.phone}}?text=Здравствуйте. {{ row.personto.name }} {{ row.personto.second_name }}.">wa</a>)
                                        </span>{%endif%}
                                    </div>
                                    {% endif %}
                                </div>
                            </td>
                            <td>
                                <span class="small">
                                    <a class="btn btn-success btn-xs" href="https://igoevent.com/crm/finance/bill?&id={{ row.id }}">счет</a><br>
                                    <a class="btn btn-success btn-xs" href="https://igoevent.com/crm/finance/akt?&id={{ row.id }}">акт</a>
                                    {% if row.link %}<br>
                                        <a class="btn btn-primary btn-xs" href="{{row.link}}">договор</a>{% endif %}
                                </span>
                            </td>
                            <td class="tac">
                                {% if row.task_id %}
                                    <a href="/crm/tasks/update?id={{row.task_id}}"><span class="glyphicon glyphicon-th-list"></span></a>
                                {% endif %}
                            </td>
                            <td>{% if row.status_logistics == 100 %}
                                    <p  class="c_green"><b class="small">Завершена</b></p>
                                {% elseif row.status == '' %}
                                    <p class="C_blue"><b class="small">Не нужна</b></p>
                                {% elseif row.status == 1 %}
                                    <p class="c_red"><b class="small">Требуется</b></p>
                                {% endif %}
                                <p class="tar "><b>{{ row.summa|number_format(0, '.', ' ') }}</b> <span class="glyphicon glyphicon-rub lite"></span></p>
                                <p>{% if row.state == 1 %}
                                    <b class="r_blue"></b>
                                    <span>на&nbsp;подпись</span>
                                {% elseif row.state == 2 %}
                                    <b class="r_yell"></b>
                                    <span>подписан</span>
                                {% elseif row.state == 3 %}
                                    <b class="r_green"></b>
                                    <span>проведен</span>
                                {% endif %}</p>
                            </td>
                            <td>
                                
                            </td>
                            <td><a href="/crm/logistics/update?id={{ row.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

<script>
$('.js_slide').click(function () {
    $(this).parent().find('table').slideToggle(200);
    $(this).parent().next('.tbmob').slideToggle(200);
});
</script>