<h2 class="tac">{{ room.name}}</h2>
<p class="tac">{{ room.description}}</p>

<form id="igo_rent" method="POST" action="">
	<div class="form-group datep">
		<input type="text" id="datep" class="form-control" name="datep">
	</div>
	<div class="slots"></div>

	<div class="userform">
		<input type="hidden" name="utm_source" value="">
		<input type="hidden" name="utm_medium" value="">
		<input type="hidden" name="utm_campaign" value="">
		<input type="hidden" name="utm_content" value="">
		<input type="hidden" name="utm_term" value="">
		<input type="hidden" name="from_url">
		<input type="hidden" name="room_id" class="room_id" value="{{ room.id}}">
		<input type="hidden" name="id" class="id" value="">
        <input type="hidden" name="company_id" class="company_id" value="{{ room.company_id }}">
		<input type="hidden" name="summa" class="summa" value="{{ room.money}}">

		<h3 class="igo_privet"></h3>
		<div class="form-group field-mail tac">
			<label class="col-xs-12 col-sm-3">E-mail</label>
			<div class="col-xs-12 col-sm-9"><input class="form-control igo_mail2 required" type="text" name="mail" value=""></div>
		</div>

		<div class="form-group field-second_name">
			<label class="col-xs-12 col-sm-3">Фамилия</label>
			<div class="col-xs-12 col-sm-9"><input class="form-control secondname required" type="text" name="second_name" value=""></div>
		</div>

		<div class="form-group field-name">
			<label class="col-xs-12 col-sm-3">Имя</label>
			<div class="col-xs-12 col-sm-9"><input class="form-control name required" type="text" name="name" value=""></div>
		</div>

		<div class="form-group field-phone">
			<label class="col-xs-12 col-sm-3">Телефон</label>
			<div class="col-xs-12 col-sm-9"><input class="form-control phone required" type="text" name="phone" value=""></div>
		</div>

		<div class="form-group">
			<label class="col-xs-12 col-sm-3">Комментарий</label>
			<div class="col-xs-12 col-sm-9"><input class="form-control" type="text" name="info" value=""></div>
		</div>

		<div class="form-group col-xs-12">
			<label class="reg_accept">
				<input type="checkbox" name="subscribe" checked="checked">
				<span>Я хочу получать информацию об интересных событиях</span>
			</label>
		</div>
		<div class="form-group col-xs-12">
			<label class="reg_accept">
				<input type="checkbox" name="accepted_terms" onchange="document.getElementById('submit').disabled = !this.checked" checked checked="checked">
				<span>Я согласен с условиями <a target="_blank" href="https://igoevent.com/pdf/iGoEvent_useragreement.pdf">Пользовательского соглашения</a> и <a href="https://igoevent.com/site/oferta/{{ biblioevent.id }}" target="_blank"> Договором оказания услуг </a> 
				</span>
			</label>
		</div>
		<button type="submit" id="submit" class="btn btn-primary center-block submit_rent">Оплатить</button>
	</div>
</form>


<script type="text/javascript">
$(document).ready(function(){
	$('.steps .bron').addClass('active');

	pickmeup('#datep', {format : 'Y-m-d', hide_on_select : true});

	// Свободные слоты в этой дате
	$('#datep').on('pickmeup-change', function (e) {
		var date = this.value;
		var room_id = $('.room_id').val();
		$.ajax({
			url: 'https://igoevent.com/api/roomdate?date='+date+'&room_id='+room_id,
			dataType: 'json',
			success: function(data){
				$('.slots').html(data);
			}
		})
		$('.minislot').remove();
	});


	//Наличие такого юзера в системе по mail
	$('body').on('change', '.igo_mail2', function() {
		var mail = this.value;
		$.ajax({
			url: 'https://igoevent.com/site/userisapi?mail='+mail,
			dataType: 'json',
			success: function(data){
				if (data){
					$('.name').val(data.name);
					$('.secondname').val(data.second_name);
					$('.phone').val(data.phone);
					$('.id').val(data.id);
					$('.igo_privet').html('Добро пожаловать, '+data.name);
					$('.field-mail').hide(200);
					$('.field-name').hide(200);
					$('.field-second_name').hide(200);
					$('.field-phone').hide(200);
				}
			}
		})
	});


	// var summa = $('.summa').val();
	// var igo_summa = 0;

	$("body").on('click', ".rentslot", function(){
		if (!$(this).hasClass('bgred')) {
			if ($(this).hasClass('check')) {
				$(this).removeClass('check');
				var start = $(this).attr('start');
				var end = $(this).attr('end');
				$('.datep > div').remove(':contains("'+start+' - '+end+'")');
			} else {
				$(this).addClass('check');
				var start = $(this).attr('start');
				var end = $(this).attr('end');
				$('.datep').append('<div class="minislot '+start+'">'+start+' - '+end+'</div>');
			}
		}
		var summa = $('.summa').val();
		var igo_summa = 0;
		$(document).find(".rentslot").each(function() {
			if ($(this).hasClass('check')) {
				igo_summa = igo_summa + 1;       	
			}
			$('.igo_summa').html(igo_summa * summa);
		});
	});


	var rent = [];
	// $("body").on('click', ".request", function(){
	// 	$('.check').each(function() {
	// 		var start = $(this).attr('start');
	// 		var end = $(this).attr('end');
	// 		rent.push(start);
	// 		rent.push(end);
	// 		$('.slots').css({opacity: 0.5});
	// 		$('.userform').fadeIn();
	// 	});
	// });


	$(document).on('click', ".request", function(){
		if ($('.igo_summa').html() > 0) {
			$('.slots').fadeOut();
			$('.userform').fadeIn();
		} else {
			alert('Выберите хотя бы одно время!')
		};
	});


	// Отправляем форму
	$(document).on('click', '.submit_rent', function() {
		$("html, body").animate({scrollTop: '0px' },"slow");

		var err = 0;
		$(document).find("input.required").each(function() {// проверяем каждое поле в форме
			if(!$(this).val()){// если поле пустое
				$(this).css('border', 'red 1px solid');
				err = 1;
			}else{
				$(this).css('border', '#ccc 1px solid');
				err = 0;
			}
		});

		var summa = $('.summa').val();
		var igo_summa = 0;
		$(document).find(".rentslot").each(function() {
			if ($(this).hasClass('check')) {
				igo_summa = igo_summa + 1;       	
			}
			$('.igo_summa').html(igo_summa * summa);
		});

		$('.check').each(function() {
			var start = $(this).attr('start');
			var end = $(this).attr('end');
			rent.push(start);
			rent.push(end);
			$('.slots').css({opacity: 0.5});
		});

		// var data = $('#igo_rent').serializeArray(); // пoдгoтaвливaeм дaнныe

		var data = {};
		$('#igo_rent').find('input, textearea, select').each(function() {
			data[this.name] = $(this).val();
		});

		if ($('.igo_summa').html() > 0) {
			if(err == 0) {
				$('.loading').fadeIn(500);
				$.ajax({
					type: 'POST',
					url: 'https://igoevent.com/api/roomrent',
					dataType: 'json',
					data: {'data': data, 'rent': rent},
					success: function(data){
						$('.loading').fadeOut(500);
						$('.igo_popup').html('<div class="igo_close"></div>' + data);
					}
				})
			}
		} else {
			alert('Выберите хотя бы одно время!')
		};
		// console.log(data);
		return false;
	});
});
</script>