<div class="row">
    <div class="col-xs-12 col-lg-3 left_blo">
        <div class="stiky">

        </div>
    </div>
    <div class="col-xs-12 col-lg-9">
        <div class="newblo">
            <div class="row">
                <div class="col-xs-12"> 
                    <table class="tb stacktable">
                        <tr>
                            <td>id</td>
                            <td>public vk_id</td>
                            <td colspan="2">current post</td>
                            <td>time</td>
                            <td>stop</td>
                            <td>name</td>
                            <td>goal</td>
                            <td>current ptext</td>
                            <td>current plink</td>
                            <td>current paudio</td>
                            <td>current pvideo</td>
                            <td>current pquote</td>
                        </tr>
                        <tr>
                        <td><span class=""><a href="/post/plist/update?id={{ model.id }}">{{ model.id }}</a></span></td>
                            <td>{{ model.public_vk_id }}
                            </td>
                            <td>{{ model.current_post}}</td>
                            <td><a class="btn btn-success btn-xs" href="/post/plist/addpost?plist_id={{model.id}}">+post</a></td>
                            <td>{{ model.time}}</td>
                            <td>{{ model.stop}}</td>
                            <td>{{ model.name}}</td>
                            <td>{{ model.goal}}</td>
                            <td>{{ model.current_ptext}}</td>
                            <td>{{ model.current_plink}}</td>
                            <td>{{ model.current_paudio}}</td>
                            <td>{{ model.current_pvideo}}</td>
                            <td>{{ model.current_pquote }}</td>
                        </tr>
                </table>
                </div>
                <div class="col-xs-12">
                <table class="tb stacktable"><tr>
                <td>№ </td>
                <td>id</td>
                <td>title</td>
                <td></td>
                </tr> 
                {% for row in myposts %}
                <tr>
                    <td>№</td>
                    <td>
                        <a  href="/post/post/update?id={{ row.posts.id }}">{{ row.posts.id }} </a>
                    </td><td>
                        {{ row.posts.title }}<br>
                        <small> {{ row.posts.text }}</small>
                    </td><td>
                        
                    </td>
                </tr>
                {% endfor %}
                </div>

                </table>
            </div>
        </div>
        
       <!--  <div class="mini_header mt0"><span>ВИЗИТЫ <div class="badge">{{ client.visits|length }}</div></span></div>

        <div class="newblo">
            <table class="table stacktable">
                <tr>
                    <td>Начало</td>
                    <td>Окончание</td>
                    <td>Скидка</td>
                    <td>Стоимость</td>
                </tr>
                {% for row in client.visits|reverse %}
                    <tr>
                        <td>{{ row.start|date('d.m в H:i') }}</td>
                        <td>{{ row.end|date('d.m в H:i') }}</td>
                        <td>{{ row.discount_money }}</td>
                        <td>{{ row.money }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div> -->

    </div>
</div>