<div class="row">
    <div class="col-xs-12 col-lg-3 left_blo">
        <div class="stiky">

        </div>
    </div>
    <div class="col-xs-12 col-lg-9">
        <div class="newblo">
            <div class="row">
                <div class="col-xs-12"> 
                    <table class="tb stacktable">
                        <tr>
                            <td>id</td>
                            <td>title</td>
                            <td>info</td>
                            <td>status</td>
                        </tr>
                            <td><span>{{ model.id }}</span></td>
                            <td><a href="/crm/todos/update?id={{model.id}}">{{model.title}}</a></td>
                            <td>{{model.info}}</td>
                            <td>{{ model.status }}</td>
                            <td><a href="{{ model.link }}">{{ model.link }}</a></td>
                            </td>
                        </tr>
                </table>
                </div>
                
            </div>
        </div>
        
       <!--  <div class="mini_header mt0"><span>ВИЗИТЫ <div class="badge">{{ client.visits|length }}</div></span></div>

        <div class="newblo">
            <table class="table stacktable">
                <tr>
                    <td>Начало</td>
                    <td>Окончание</td>
                    <td>Скидка</td>
                    <td>Стоимость</td>
                </tr>
                {% for row in client.visits|reverse %}
                    <tr>
                        <td>{{ row.start|date('d.m в H:i') }}</td>
                        <td>{{ row.end|date('d.m в H:i') }}</td>
                        <td>{{ row.discount_money }}</td>
                        <td>{{ row.money }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div> -->

    </div>
</div>