<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="newblo">
            <h2>Залы</h2>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3 left_blo">
        {{ this.render('/module/rent_step.twig') | raw }}
    </div>

    <div class="col-xs-12 col-lg-9">

        <table class="tb stacktable">
            <tr>
                <th>Площадка</th>
                <th>Название</th>
                <th>Менеджер</th>
                <th>Описание</th>
                <th></th>
                <th></th>
            </tr>
            {% for row in rooms %}
                <tr>
                    <td>{{ row.places.name }}</td>                  
                    <td><a href="/crm/rooms/view?id={{ row.id }}">{{ row.name }}</a></td>
                    <td>{% if row.user.person.image %}<img src="/uploads/users/{{ row.user.person.image }}" class="w26 img-circle">{% else %}{{ row.user.person.name }}{% endif %}</td>
                    <td>{{ row.description }}</td>
                    <td><a href="/crm/rooms/update?id={{ row.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
                    <td><a href="/crm/rooms/delete?id={{ row.id }}" title="Delete" aria-label="Delete" data-confirm="Уверены в том, что хотите удалить?" data-method="post"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>