<h1>События</h1>


<div class="row">
    {% for row in data %}
        <div class="col-xs-12 col-md-12 col-lg-12"> 
            <div class="newblo n_company {% if row.favour %}ytop{% endif %}">
                <p class="mini p_a_l">#{{ row.id }}</p>
                <a href="/admin/places/update?id={{ row.id }}">{{ row.title }}</a>
                
                
                    <p>{{ row.subtitle }}</p>
                    <p>{{ row.date_start }}</p> 
                
            </div>
        </div>
    {% endfor %}
</div>