<div class="endreg">
    <div class="ttl">Закончить регистрацию?</div>
    <p>После этого вернуть введенные вами данные будет невозможно.</p>
    <a class="widget_button1 mypopup_goon">Нет, продолжить</a>
    <a class="widget_button2 mypopup_close">Завершить</a>
</div>

<div class="my_form">
    <div class="btn_close">&times;</div>
    <p class="info">Чтобы зарегистрироваться на это событие, заполните анкету. Информация о Вас будет доступна только организаторам этого события, и больше никому.</p>

    <!--div class="my_scheme"></div-->
    
    <div class="mt10">
        <p class="col-xs-6 col-sm-8">Тип билета</p>
        <p class="col-xs-3 col-sm-2">Цена</p>
        <p class="col-xs-3 col-sm-2">Кол-во</p>
    </div>

    <form id="event_form" method="POST" action="">
        <input type="hidden" name="utm_source" >
        <input type="hidden" name="utm_medium" >
        <input type="hidden" name="utm_campaign" >
        <input type="hidden" name="utm_content" >
        <input type="hidden" name="utm_term" >
        <input type="hidden" name="id" class="id" value="">         
        <input type="hidden" name="type" value="9">
        <input type="hidden" name="from_url">
        <div class="my_tick">
            <span class="summa hidden"></span>
            <span class="counttik hidden">1</span>  
            <input type="hidden" name="event_id" value="{{ event.id }}">

            {% for row in seats %}
                {% if row.price == 0 %}
                    {% set itemval = 1 %}
                {% else %}
                    {% set itemval = 0 %}
                {% endif %}
                <div class="my_grey">
                    <p class="col-xs-12 col-sm-8">
                        <b>{{ row.name }}</b><br>
                        <span>{{ row.info }}</span>
                    </p>
                    <p class="col-xs-6 col-sm-2">
                        <b>{{ row.price }}</b> р.
                    </p>
                    <p class="col-xs-6 col-sm-2">
                        <input type="hidden" name="money[]" class="my_money" value="{{ row.price }}">
                        <input type="hidden" name="seat_id[]" value="{{ row.id }}">
                        <input class="form-control count" id="{{ row.id }}" type="text" name="seat[]" placeholder="" value="{{ itemval }}">
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="my_user">

            <div class="form-group">
                <label class="col-xs-12 col-sm-3">E-mail</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control my_mail" type="text" name="mail" value=""></div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3">Фамилия</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control secondname" type="text" name="second_name" value=""></div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3">Имя</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control name" type="text" name="name" value=""></div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3">Номер телефона</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control phone" type="text" name="phone" value=""></div>
            </div>

            <div class="form-group">
                <label class="col-xs-12 col-sm-3">Комментарий</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control" type="text" name="info" value=""></div>
            </div>

            {% if event.field1 %}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3">{{ event.field1 }}</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control" type="text" name="field1" value=""></div>
            </div>
            {% endif %}

            {% if event.field2 %}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3">{{ event.field2 }}</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control" type="text" name="field2" value=""></div>
            </div>
            {% endif %}

            {% if event.field3 %}
            <div class="form-group">
                <label class="col-xs-12 col-sm-3">{{ event.field3 }}</label>
                <div class="col-xs-12 col-sm-9"><input class="form-control" type="text" name="field3" value=""></div>
            </div>
            {% endif %}

            <div class="form-group col-xs-12">
                <label class="reg_accept">
                    <input type="checkbox" name="subscribe" checked="checked">
                    <span>Я хочу получать информацию об интересных событиях</span>
                </label>
            </div>
            <div class="form-group col-xs-12">
                <label class="reg_accept">
                    <input type="checkbox" name="accepted_terms" onchange="document.getElementById('submit').disabled = !this.checked" checked checked="checked">
                    <span>Я согласен с условиями <a href="https://igoevent.com/web/uploads/agreement.pdf" target="_blank">Пользовательского соглашения</a> и <a href="https://igoevent.com/site/oferta/{{ biblioevent.id }}" target="_blank">Договором оказания услуг</a>
                    </span>
                </label>
            </div>
            <button type="submit" id="submit" class="btn btn-primary center-block submit">{{ event.button }}</button>
        </div>
    </form>
</div>
