{% if biblioevent.landing.seodesc %}
	{{ this.registerMetaTag({name: 'keywords', content: biblioevent.landing.seodesc}) | raw }}
{% else %}
	{% set seodesc = [biblioevent.name, ' ', biblioevent.cities.name]|join %}
	{{ this.registerMetaTag({name: 'keywords', content: seodesc}) | raw }}
{% endif %}

{% if biblioevent.landing.seokey %}
	{{ this.registerMetaTag({name: 'description', content: biblioevent.landing.seokey}) | raw }}
{% else %}
	{% set seokey = [biblioevent.name, ' ', biblioevent.cities.name]|join %}
	{{ this.registerMetaTag({name: 'description', content: seokey}) | raw }}
{% endif %}


{% if biblioevent.landing.ogtitle %}
	{{ this.registerMetaTag({name: 'og:title', content: biblioevent.landing.ogtitle}) | raw }}
{% else %}
	{% set ogtitle = [biblioevent.name, ' ', biblioevent.cities.name]|join %}
	{{ this.registerMetaTag({name: 'og:title', content: ogtitle}) | raw }}
{% endif %}

{% if biblioevent.landing.ogdescription %}
	{{ this.registerMetaTag({name: 'og:description', content: biblioevent.landing.ogdescription}) | raw }}
{% else %}
	{% set ogdescription = [biblioevent.name, ' ', biblioevent.cities.name]|join %}
	{{ this.registerMetaTag({name: 'og:description', content: ogdescription}) | raw }}
{% endif %}

{% if biblioevent.landing.ogimage %}
	{% set ogimage = ['/web/uploads/users/', biblioevent.landing.ogimage ]|join %}
{% elseif biblioevent.landing.image %}
	{% set ogimage = ['/web/uploads/users/', biblioevent.landing.image ]|join %}
{% else %}
	{% set ogimage = ['/web/uploads/users/', biblioevent.image ]|join %}
{% endif %}
{{ this.registerMetaTag({name: 'og:image', content: ogimage}) | raw }}

{% set ogurl = [biblioevent.cities.alias, '/event/', biblioevent.id]|join %}
{{ this.registerMetaTag({name: 'og:url', content: ogurl}) | raw }}

{{ this.registerMetaTag({name: 'og:type', content: 'website'}) | raw }}

{% if biblioevent.button_head %}{{ biblioevent.button_head | raw }}{% endif %}






<div class="container bg_white">
	{% if biblioevent.button_code %}
		{{ biblioevent.button_code | raw }}
	{% else %}
		<div class="igoevent_event red_b" id="{{ biblioevent.id }}">&nbsp;</div>
	{% endif %}
</div>



<footer class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-8">
			<img class="logo-footer" src="/images/logo-mini.svg">
			<p class="copyrite">© 2018 iGoEvent.ru — сервис по продвижению событий. Права на текстовые и другие материалы, размещенные на сайте, охраняются законом.
				При цитировании обязательна прямая ссылка на iGoEvent.ru.
			</p>
			<p class="copyrite">Сайт сделал <a href="http://vitalhit.com/">Хитров Виталий Глебович</a></p>
			<ul class="footer-nav">
				<li><a href="page/about">О проекте</a></li>
				<li><a href="/page/contacts">Контакты</a></li>
				<li><a href="https://igoevent.com/pdf/iGoEvent_useragreement.pdf">Пользовательское соглашение</a></li>
				<li class="years"><img src="/images/ico-18-plus.svg"></li>
			</ul>
			<noindex>
				<script type="text/javascript">document.write("<a rel='nofollow' href='//www.liveinternet.ru/click' "+"target=_blank><img src='//counter.yadro.ru/hit?t26.1;r"+escape(document.referrer)+((typeof(screen)=="undefined")?"":";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+";h"+escape(document.title.substring(0,150))+";"+Math.random()+"' alt='' title='LiveInternet: показано число посетителей за"+" сегодня' "+"border='0' width='88' height='15'><\/a>");
				</script>
				<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-88249632-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-88249632-1');
</script>

			</noindex>
		</div>
	</div>
</footer>





<script type="text/javascript" src="/js/lightbox.min.js"></script>
<script type="text/javascript" src="/js/igoeventapi.js"></script>

<link rel="stylesheet" href="/css/lightbox.css" />
<link rel="stylesheet" href="/css/igoeventapi.css">
<link rel="stylesheet" href="/css/front.css">

<style>
.red_b .igo_btn, .red_b .igo_book_btn, .red_b .igo_rent_btn, .red_b .widget_button1, .red_b .widget_button2 {
	background-color: #d2222a;
	width: 250px;
	border-radius: 30px;
	font-family: 'Circe', sans-serif;
	font-size: 21px;
	padding: 10px;
}
.igo_btn span, .igo_book_btn span { display: block; margin-top: 5px; font-size: 12px; opacity: 0.75;}
.btn.btn-primary { padding: 6px 12px; }
header .search input[placeholder], [placeholder], *[placeholder] {color: #333 !important;}
</style>