<div class="bill">
	<h3>Счет на оплату аренды</h3>
	<p class="tac">{{room.name}}</p>
	<p class="tac">{{room.description}}</p>
	<hr>

	<p><b>ФИО:</b> {{user.name}} {{user.second_name}}</p>
	<p><b>Mail:</b> {{user.mail}}</p>
	<p><b>Телефон:</b> {{user.phone}}</p>
	<hr>

	{% for rent in rents %}
		<p><b>Время:</b> {{rent.start|date('H:i')}} - {{rent.end|date('H:i')}}</p>
		<p><b>Цена:</b> {{rent.summa|number_format(2, '.', '')}} р</p>
	{% endfor %}
	<hr>
	<p><b>Сумма:</b> {{sum|number_format(2, '.', '')}} р</p>
	<hr>

	<form action="https://yoomoney.ru/eshop.xml" method="post">
		<input name="shopId" value="157496" type="hidden"/>
		<input name="scid" value="154733" type="hidden"/>
		<input name="ym_merchant_receipt"
		value='{"customerContact": "{% if user.mail %}{{user.mail}}{% else %}{{user.phone}}{% endif %}",
		"taxSystem": 1,
		"items":[
		{% for rent in rents %}
		{"quantity": 1, "price": {"amount": {{rent.summa|number_format(2, '.', '')}}},  "tax": 3,"text": "{{room.name}}"}
		{% if not loop.last %},{% endif %}
		{% endfor %}
		]}'
		type="hidden"/>
		<input name="customerNumber" value="{{user.id}}" type="hidden"/>
		<input name="description" value="{{event.biblioevents.name}}" type="hidden"/>
		<input name="paymentType" value="AC" type="hidden"/>
		<input name="orderNumber" value="{{order_id}}" type="hidden"/>
		<input name="sum" value="{{sum|number_format(2, '.', '')}}" type="hidden">
		<input name="cps_phone" value="{{user.phone}}" type="hidden"/>
		<input name="cps_email" value="{{user.mail}}" type="hidden"/>
		<input type="submit" class="btn btn-primary m20a" value="Оплатить"/>
	</form>
</div>