{{ use('/yii/widgets') }}

<ul class="search_result"></ul>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="newblo">
            <div class="row">
              
                <div class="col-xs-12 col-lg-12">
                    <h2>All markets</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-lg-12">
        
        <a class="btn btn-success btn-sm" href="/crm/markets/create"> добавить markets <span class="glyphicon glyphicon-plus small"></span></a>
        <br><br>
        <table class="tb stacktable">
            <tr>

                <td>id</td>
                <td>biblioevent_id</td>
                <td>site</td>
                <td>title</td>
                <td>links</td>
            </tr>
            {% for one in all %}
            <tr>
                <td><a href="/crm/markets/update?id={{ one.id}}">{{ one.id}}</a></td>
                <td><a href="https://igoevent.com/crm/biblioevents/update?id={{ one.biblioevent_id}}">{{ one.biblioevent_id}}</a></td>
                <td>{% if one.site%}<a href="https://{{ one.site}}">{{ one.site}}</a>{%else%} - {% endif%}</td>
                <td>{{ one.title}}
                    <br><small>{{one.info}}</small></td>
                <td>{% if one.link_id%}<a>{{ one.link_id}}</a>{%else%} - {% endif%}</td>
               
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

    {{link_pager_widget({
        'pagination': pages
    }) }}



    <div class="popup end popup_d"></div>

    <div class="overlay"></div>

