        <div class="mini_header mt0"><span>Партнеры</span></div>
        <div class="hidden-xs">
            
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                           <td> kudago.com
                           </td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'kudago.com' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); document.write(" x 0,20 = "); document.write(sum_utm*0.2);
                               </script>
                                

                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>artist</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'artist' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>media</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'media' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>place</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'place' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm);
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>vk-event</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'vk-event' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm);
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>fb</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'fb' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm);
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>insta</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'insta' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm);
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>email</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'email' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>vk-target</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'vk-target' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>qr</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'qr' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>bonus</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'bonus' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>friends</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'friends' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="newblo btop">
                    <table class="tb">
                        <tr>
                            <td>partner</td>
                        </tr>
                            <td><script type="text/javascript">
                                var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'partner' %} + {{tik.summa}} {%endif %}{%endfor%};
                                document.write(sum_utm); 
                               </script>                                
                            </td>
                        </tr>
                    </table>
                </div>
        </div>



        <div class="visible-xs">
            <div class="tbmob">
                
                    <div class="newblo btop">
                        <p>Партнеры</p>
                    </div>
                    <div class="newblo{% if item.state == 1 %} btop {% elseif item.state == 2 %} ytop {% elseif item.state == 3 %} gtop {% endif %}">
                        <div class="col-xs-4"><span class="mini">
                            kudago.com
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                            <script type="text/javascript">
                            var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'kudago.com' %} + {{tik.summa}} {%endif %}{%endfor%};
                            document.write(sum_utm); document.write("x 20 = "); document.write(sum_utm*0.2);
                           </script>
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                             <script type="text/javascript">
                            var sum_tik  = 0 {% for tik in tickets %}{% if tik.utm_source == 'kudago.com' %} + 1 {%endif %}{%endfor%};
                            document.write(sum_tik);
                           </script> 
                        </span></div>
                        <div class="clear"></div>

              
                    </div>
                    <div class="newblo{% if item.state == 1 %} btop {% elseif item.state == 2 %} ytop {% elseif item.state == 3 %} gtop {% endif %}">
                        <div class="col-xs-4"><span class="mini">
                            artist
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                            <script type="text/javascript">
                            var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'artist' %} + {{tik.summa}} {%endif %}{%endfor%};
                            document.write(sum_utm); 
                           </script>
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                             <script type="text/javascript">
                            var sum_tik  = 0 {% for tik in tickets %}{% if tik.utm_source == 'artist' %} + 1 {%endif %}{%endfor%};
                            document.write(sum_tik);
                           </script> 
                        </span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="newblo{% if item.state == 1 %} btop {% elseif item.state == 2 %} ytop {% elseif item.state == 3 %} gtop {% endif %}">
                        <div class="col-xs-4"><span class="mini">
                            media
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                            <script type="text/javascript">
                            var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'media' %} + {{tik.summa}} {%endif %}{%endfor%};
                            document.write(sum_utm); 
                           </script>
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                             <script type="text/javascript">
                            var sum_tik  = 0 {% for tik in tickets %}{% if tik.utm_source == 'media' %} + 1 {%endif %}{%endfor%};
                            document.write(sum_tik);
                           </script> 
                        </span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="newblo{% if item.state == 1 %} btop {% elseif item.state == 2 %} ytop {% elseif item.state == 3 %} gtop {% endif %}">
                        <div class="col-xs-4"><span class="mini">
                            email
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                            <script type="text/javascript">
                            var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'email' %} + {{tik.summa}} {%endif %}{%endfor%};
                            document.write(sum_utm); 
                           </script>
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                             <script type="text/javascript">
                            var sum_tik  = 0 {% for tik in tickets %}{% if tik.utm_source == 'email' %} + 1 {%endif %}{%endfor%};
                            document.write(sum_tik);
                           </script> 
                        </span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="newblo{% if item.state == 1 %} btop {% elseif item.state == 2 %} ytop {% elseif item.state == 3 %} gtop {% endif %}">
                        <div class="col-xs-4"><span class="mini">
                            vk-event
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                            <script type="text/javascript">
                            var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'vk-event' %} + {{tik.summa}} {%endif %}{%endfor%};
                            document.write(sum_utm); 
                           </script>
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                             <script type="text/javascript">
                            var sum_tik  = 0 {% for tik in tickets %}{% if tik.utm_source == 'vk-event' %} + 1 {%endif %}{%endfor%};
                            document.write(sum_tik);
                           </script> 
                        </span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="newblo{% if item.state == 1 %} btop {% elseif item.state == 2 %} ytop {% elseif item.state == 3 %} gtop {% endif %}">
                        <div class="col-xs-4"><span class="mini">
                            fb
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                            <script type="text/javascript">
                            var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'fb' %} + {{tik.summa}} {%endif %}{%endfor%};
                            document.write(sum_utm); 
                           </script>
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                             <script type="text/javascript">
                            var sum_tik  = 0 {% for tik in tickets %}{% if tik.utm_source == 'fb' %} + 1 {%endif %}{%endfor%};
                            document.write(sum_tik);
                           </script> 
                        </span></div>
                        <div class="clear"></div>
                    </div>
                    <div class="newblo{% if item.state == 1 %} btop {% elseif item.state == 2 %} ytop {% elseif item.state == 3 %} gtop {% endif %}">
                        <div class="col-xs-4"><span class="mini">
                            insta
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                            <script type="text/javascript">
                            var sum_utm  = 0 {% for tik in tickets %}{% if tik.utm_source == 'insta' %} + {{tik.summa}} {%endif %}{%endfor%};
                            document.write(sum_utm); 
                           </script>
                        </span></div>
                        <div class="col-xs-4"><span class="mini">
                             <script type="text/javascript">
                            var sum_tik  = 0 {% for tik in tickets %}{% if tik.utm_source == 'insta' %} + 1 {%endif %}{%endfor%};
                            document.write(sum_tik);
                           </script> 
                        </span></div>
                        <div class="clear"></div>
                    </div>
            </div>
        </div>