<div class="akt">
	<p style="text-align: center;"><b>Агентский договор  № {% if model.doc_number %}{{ model.doc_number }}{%else%} ______________{% endif %}   </b>
	<table class="tb">
		<tr>
			<td>г. Москва</td>
			<td class="tar">{% if model.date_doc != '' %}{{ model.date_doc|date('d.m.Y') }}{% else %}___ / ___ / 20___ г. {% endif %}</td>
		</tr>
	</table>
</p>
<p style="font-size: 10px; ">{{ contragent1.name }} 
	{% if contragent1.company_type == 'ООО' %}(ОГРН 
	{% elseif contragent1.company_type == 'ИП' or contragent1.company_type == 'индивидуальный предприниматель' or contragent1.company_type =='индивидуальный предприниматель ' %}(ОГРНИП 
	{% else %} ________ {%endif%} {% if contragent1.ogrn %}{{ contragent1.ogrn }}){%endif%}, {% if contragent1.man_genitive %}в лице {{contragent1.man_genitive}},{% else%} ______________________________, {%endif%}  именуемое в дальнейшем «Принципал», с одной стороны и 

	
	{% if contragent2.company_type == 'индивидуальный предприниматель' %} 
		{% if contragent2.name %}{{ contragent2.name }}{%else%}________________________________________{%endif%} именуемый в дальнейшем «Принципал», {% if contragent2.doc_basis %} действующий на основании {{ contragent2.doc_basis}} {% endif %} {% if contragent2.ogrn %}(ОГРН {{ contragent2.ogrn }}),{%endif%}, именуемый в дальнейшем «Агент»,
	{% else %}
		{% if contragent2.name %}{{ contragent2.name }}{%else%}________________________________________{%endif%}{% if contragent2.ogrn %}(ОГРН {{ contragent2.ogrn }}){%endif%}{% if contragent2.man_genitive %}, в лице {{contragent2.man_genitive}}{% else%}______________________________, {%endif%}{% if contragent2.doc_basis %} действующего на основании {{ contragent2.doc_basis }},{% endif %}, именуемое в дальнейшем «Агент»,
	 {% endif %}с другой стороны, вместе в дальнейшем именуемые «Стороны», а по отдельности «Сторона», заключили настоящий Договор о нижеследующем:<br>
<b>1. Предмет Договора</b><br>
1.1. По настоящему Договору Агент обязуется оказать Принципалу по его поручению комплекс юридических и иных услуг, необходимых для проведения мероприятия Принципала, от своего имени и за счет Принципала, а Принципал обязуется принять оказанные ему услуги и выплатить вознаграждение Агенту. Перечень услуг согласуется Сторонами в Приложении №1 к настоящему Договору.
<br>
1.2. Под мероприятием в настоящем Договоре понимается: {% if biblioevent.name %} {{biblioevent.name }}{%else%} _______________________________________{% endif %}, организованное Принципалом.<br>
1.2. Мероприятие должно быть проведено
{% if event.id %} с {{event.date|date('d.m.Y H:i') }} по {{event.date_end|date('d.m.Y H:i')}}, г. {{place.cities.name}}.
{% else %}
с ___ / ___ / 20___ по  ___ / ___ / 20___  г.  ________________________________________.
{% endif %}<br>
1.3. Права и обязанности по сделкам, совершенным Агентом в соответствии с п. 1.1 настоящего
договора, возникают непосредственно у Принципала.
<br><b>2. Цена договора, порядок оплаты и принятия услуг</b><br>
2.1.  Принципал обязан уплатить Агенту вознаграждение в размере {% if model.summa == 0 %}_____________________________________________________{% else%} {{ model.summa }}{% endif %} рублей 00
коп., НДС не облагается в связи с применением Агентом упрощенной системы налогообложения.<br>
2.2. Принципал производит оплату, предусмотренную п. 2.1. настоящего Договора, на основании выставленного счета в срок не позднее «___» _______ 20__ года. Допускается оплата частями.<br>
2.3. Расчеты по настоящему Договору производятся Принципалом в рублях путем перечисления денежных средств на расчетный счет Агента или любым другим способом, не запрещенным законом. Датой оплаты считается дата поступления денежных средств на расчетный счет Агента или дата проведения взаимозачета.
<br>
2.4. Расчеты осуществляются по реквизитам, указанным в разделе 10 «Адреса, реквизиты и подписи Сторон» настоящего Договора. В случае изменения в платежных или иных реквизитах, Стороны обязуются уведомлять об этом друг друга в срок не превышающий 2 (Двух) рабочих дней путем направления письма по адресу местонахождения второй сторона. <br>
2.5. По результату выполнения Агентом своих обязательств по настоящему Договору, Агент передает Принципалу подписанный со своей стороны отчет и акт оказания услуг с приложением документов, подтверждающих размер расходов, связанных с исполнением поручения Принципала. В Акте  указывается полный объем оказанных в рамках настоящего Договора услуг. Если Принципал в течение 5 (Пять) календарных дней с момента получения акта не подписал указанный акт и не предъявил Агенту в письменной форме обоснованной и мотивированной претензии по качеству оказанных услуг, то оказанные Агентом услуги считаются принятыми Принципалом в полном объеме и без замечаний.
<br>
2.6. Издержки, понесенные Агентом при исполнении настоящего договора, возмещаются Принципалом отдельно при наличии подтверждающих документов.
<br><b>3. Обязанности Сторон</b><br>
3.1.  Принципал обязуется:<br>
3.1.1. произвести оплату услуг своевременно и в полном объеме в соответствии с условиями настоящего Договора;
<br>
3.1.2. уведомить Агента об изменениях в графике или месте проведения Мероприятия, а также о его отмене в течение 2 (Двух) рабочих дней с даты таких изменений;<br>
3.1.3. подписать со своей стороны акт оказания услуг при отсутствии обоснованных и мотивированных возражений;<br>
3.1.4. В случае необходимости – выдать доверенность на сотрудника Агента;<br>
3.1.5. Информировать Агента обо всех обстоятельствах, которые могут повлиять на исполнение настоящего договора.<br>
3.1.6. Выдать доверенность Агенту в случае необходимости. <br>

<b>3.2. Агент обязуется:</b>
3.2.1. Оказать комплекс услуг, указанный в Приложении №1 к настоящему Договору качественно и в сроки, указанные в Приложении №1 и в настоящем Договоре;
3.2.2. своевременно выставить Принципалу счет на оплату;
3.2.3. предоставлять Принципалу всю необходимую информацию о проведении Мероприятия, отчет о количестве посетителей мероприятия;
3.2.4. согласовать с Принципалом дополнительные затраты и услуги. В случае неполучения согласия Принципала на увеличение стоимости услуг, Агент не вправе требовать дополнительной оплаты;
3.2.5. добросовестно выполнять обязательства по Договору, действуя в интересах Принципала;
3.2.6. предоставить отчет Агента в последний день Мероприятия и с приложением всех подтверждающих расходы документов.
3.2.7. В случае получения уведомления об отмене Мероприятия - в тот же день приостановить исполнение поручений Принципала по поручению, указанному в Приложении №1 к настоящему Договору, до получения дальнейших указаний Принципала, и осуществить все возможные разумные действия для уменьшения затрат Принципала, связанных с отменой Мероприятия.<br>
 <b>3.3. Агент имеет право:</b><br>
3.3.1. требовать от Принципала подписания акта оказанных услуг по настоящему Договору.
3.3.2. Агент вправе заключать сделки от имени принципала в целях осуществления обязательств по настоящему Договору.<br>
	<b>3.4. Принципал имеет право:</b>
3.4.1. требовать от Исполнителя оказания услуг своевременно и качественно;
3.4.2. Получать информацию о ходе оказания услуг.
3.4.3. Заключать аналогичные агентские договоры с третьими лицами по тому же предмету.
3.4.4.  Давать Агенту дополнительные указания, касающиеся выполнения поручения по настоящему Договору.


 
 



<br><b>4. Форс-мажор</b><br>
4.1. Каждая Сторона освобождается от ответственности за частичное или полное неисполнение своих обязательств по настоящему договору, если неисполнение обязательств явилось следствием обстоятельств непреодолимой силы, возникших после заключения настоящего договора в результате событий чрезвычайного характера, которые Сторона не могла ни предвидеть, ни предотвратить разумными мерами. К обстоятельствам непреодолимой силы относятся события, на которые Сторона не может оказать влияния и за возникновение которых она не несет ответственности.
4.2. Сторона, ссылающаяся на обстоятельства непреодолимой силы, обязана немедленно информировать другую Сторону о наступлении подобных обстоятельств в письменной форме.
Информация должна содержать данные о характере обстоятельств, а также, по возможности, оценку их влияния на исполнение Стороной своих обязательств по настоящему договору и на срок исполнения обязательств.
4.3. Сторона, которая не может из-за обстоятельств непреодолимой силы выполнить обязательства по настоящему договору, должна приложить все усилия к тому, чтобы как можно скорее ликвидировать последствия невыполнения своих обязательств.
4.4. При прекращении действий указанных обстоятельств Сторона должна известить об этом другую Сторону в письменном виде. При этом Сторона должна указать срок, в который предполагается исполнить обязательства по настоящему договору.
4.5. Если Сторона не направит или несвоевременно направит необходимое извещение, то она обязана возместить другой Стороне убытки, причиненные неизвещением или несвоевременным извещением.
4.6. В случае возникновения обстоятельств непреодолимой силы срок выполнения обязательств по настоящему договору отодвигается соразмерно времени, в течение которого действуют такие обстоятельства и их последствия.


<br><b>5. Ответственность Сторон</b><br>
5.1. В случае неисполнения или ненадлежащего исполнения своих обязательств по настоящему договору Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации.
5.2. Сторона, причинившая своими действиями другой стороне убытки, обязана возместить их в полном объеме.
5.3. Агент несет ответственность в размере действительного ущерба за сохранность документов, имущества и материальных ценностей, полученных им от Принципала или третьих лиц в процессе исполнения настоящего Договора.
5.4. В случае наличия претензий третьих лиц, связанных с работами Принципала, последний самостоятельно отвечает на все претензии без содействия и привлечения Агента.

<br><b>6. Срок договора</b><br>6.1. Настоящий Договор вступает в силу с момента его подписания Сторонами и действует до полного выполнения Сторонами своих обязательств по настоящему Договору.
6.2. Обязательства Сторон считаются выполненными в полном объеме с момента подписания Сторонами акта оказания услуг либо отсутствия действий Принципала по направлению в адрес Исполнителя мотивированного отказа (претензии) после получения Принципалом акта оказания услуг (п. 2.5. настоящего Договора), а также поступления полной стоимости услуг на счет Исполнителя.
6.3. После подписания настоящего Договора все предыдущие письменные и устные соглашения, переписка, переговоры между Сторонами, относящиеся к настоящему Договору, теряют юридическую силу.


<br><b>7. Порядок разрешения споров</b><br>7.1. Все споры и разногласия, которые могут возникнуть у Сторон в ходе исполнения условий настоящего Договора, будут разрешаться Сторонами путем переговоров с приглашением посредника (медиации).
7.2. В случае невозможности разрешения споров путем переговоров – все споры подлежат рассмотрению в Арбитражном суде г. Москвы.
7.3. В любом случае до обращения к посреднику для проведения переговоров (медиации) каждая из Сторон обязана направить другой Стороне претензию и дать разумное время (не менее пятнадцати дней с момента доставки претензии) для ответа и разрешения претензий в добровольном порядке. 
<br>
<b>8. Порядок внесения изменений, дополнений в договор и его расторжение</b><br>
8.1. В настоящий Договор могут быть внесены изменения и дополнения, которые оформляются Сторонами дополнительными соглашениями к настоящему Договору.
8.2. Настоящий Договор может быть досрочно расторгнут по основаниям, предусмотренным законодательством Российской Федерации и настоящим Договором.
Сторона, решившая расторгнуть настоящий Договор, должна направить другой стороне письменное уведомление о намерении расторгнуть настоящий Договор не позднее, чем за 15 (Пятнадцать) календарных дней до предполагаемой даты расторжения настоящего Договора. Настоящий Договор считается расторгнутым с даты, указанной в уведомлении о расторжении. 


<br><b>9. Заключительные положения</b><br>9.1.Переуступка одной стороной своих прав и обязанностей по настоящему Договору третьим лицам допускается только с предварительного письменного согласия другой стороны. Агент вправе привлекать третьих лиц для исполнения поручений по настоящему Договору.
9.2. Во всем остальном, что не предусмотрено настоящим Договором, Стороны руководствуются действующим законодательством Российской Федерации.
9.3. Любые изменения и дополнения к настоящему Договору действительны при условии, если они совершены в письменной форме, скреплены печатями и подписаны уполномоченными на то представителями обеих Сторон.
9.4. Стороны договорились считать документы, переданные по средствам факсимильной связи, надлежащим документом до момента предоставления подлинников указанных документов. Предоставление Сторонами подлинников документов является обязательным. 
9.5. Все приложения к настоящему Договору являются его неотъемлемой частью, при наличии в них ссылки на настоящий Договор, подписания указанных приложений уполномоченными представителями Сторон и скрепления подписей печатями Сторон.
9.6. Стороны договорились сохранять в режиме конфиденциальности любые сведения, полученные одной Стороной в отношении другой в ходе исполнения настоящего договора. Режим конфиденциальности распространяется на информацию, которую любая из Сторон обозначит как конфиденциальную до или сразу после ее предоставлении другой Стороне.
9.7. К информации, признаваемой в соответствии с настоящим Договором конфиденциальной, не могут относиться сведения, являющиеся в соответствии с требованиями российского законодательства общедоступными.
9.8. Обязательства о конфиденциальности сохраняют силу и в течение одного года после истечения срока действия или расторжения настоящего Договора.
9.9. Договор составлен на русском языке в двух экземплярах, имеющих одинаковую юридическую силу, по одному для каждой Стороны.
<br><b>12. Реквизиты сторон</b>

	

	<table class="tb">
		<tr>
			<td width="50%">
				<br><b>Принципал:</b>
				<br>{{ contragent1.name }}
				<br>{% if contragent1.inn %}  ИНН: {{ contragent1.inn }} {% else %} <small>Фамилия:</small> ____________________________________________<br><br>
				<small>Имя:</small>  ___________________
				<small>Отчество:</small>  _____________________
				<br><br><small>Паспорт.</small>
<small>Серия</small>_____<small>Номер</small>_______<small>Когда выдан</small> __ / __ / ______ <br>
<small>Кем выдан</small>_________________________________________ <br>

				 {% endif %}
				<br><br> {% if contragent1.jaddress %}Почтовый адрес. {{ contragent1.faddress }} {% else %} 
				<small>Индекс:</small> _____________ 
				<small>Город:</small>  ____________________________<br><br>
				<small>Улица:</small> ________________________________________<br><br>
				<small>Дом</small> ____ <small>Корпус</small> ____ <small>Кв.</small>_____<br>{% endif %}
				<br>{% if contragent1.jaddress %}Юридический адрес:  {{ contragent1.faddress }}
				{% else %} _________________________________<br><br>
				
				____________________________________________<br>{% endif %}
				<br>&nbsp;
				<br>_________________ ({% if contragent1.man %}{{ contragent1.man }}{% else %}_________________ {%endif%})
			</td>
			<td width="50%">
				<br><b>Агент:</b>
				<br> {{ contragent2.name }}
				<br>ИНН: {{ contragent2.inn }} 
				<br>{{ contragent2.bank }} 
				<br>ОГРН: {{ contragent2.ogrn }} 
				<br>Р/с: {{ contragent2.raschet }} 
				<br>БИК: {{ contragent2.bik }} 
				<br>к/с: {{ contragent2.korr }} 
				<br>Почтовый адрес: {% if contragent2.faddress %} {{ contragent2.faddress }} {% else %} 
				_________________________________<br><br>
				____________________________________________<br>{% endif %}
				<br>{% if contragent2.jaddress %} Юридический адрес: {{ contragent2.jaddress }}
				{% else %} 
				_________________________________<br><br>
				____________________________________________<br>{% endif %}
				<br>&nbsp;
				<br>_________________ ({{ contragent2.man }})
			</td>
		</tr>
	</table>
</p>	
</div>


