{{ use('/yii/widgets') }}

<ul class="search_result"></ul>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="newblo">
            <div class="row">
                <div class="col-xs-12 col-lg-3">
                    <form class="form-inline form_lite">
                        <input type="text" class="form-control who" name="referal" placeholder="Фамилия гостя" autocomplete="off">
                    </form>
                </div>
                <div class="col-xs-12 col-lg-9">
                    <h2>Все клиенты</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3 left_blo">
        {{ this.render('/module/person_step.twig', {'company' : company}) | raw }}
    </div>

    <div class="col-xs-12 col-lg-9">

        <table class="tb stacktable">
            <tr>
                <td></td>
               <!--<td></td>-->
                <td>Город</td><td>ФИО</td>
                <td>Mail</td>
                <td>Телефон</td>
                <td>Инфо</td>
                <td>Группа</td>
                <!--<td>Статус</td>-->
                <td>vk.com</td>
            </tr>
            {% for client in competitors %}
            <tr>
                <td><span>{{ client.id }}</span></td>
                <!--<td class="tac">
                    {% if client.image %}
                    <img src="/uploads/users/{{ client.image }}" class="w26 img-circle">
                    {% else %}
                    <img src="/web/images/noimage.png" class="w26 img-circle">
                    {% endif %}
                </td>-->
                <td><span>{{ client.city }}</span></td>
                <td><a href="/crm/competitors/update?id={{ client.id }}">{{ client.second_name }} {{ client.name }} {{ client.middle_name }}</a> </td>
                <td><span>{{ client.mail }}</span></td>

                <td><span>{{ client.phone }}(<a href="https://wa.me/{{ client.phone }}?text=Здравствуйте, {{ client.name }} {{ client.middle_name }}. Пишу вам по поводу концерта. http://igoevent.com/msk?utm_source=whatsapp&amp;utm_medium=igoevent&amp;utm_campaign=massage">wap</a>)</span></td>
                <td><span>{{ client.info }}</span></td>
                <td>{{ client.groups|slice(0, 10) }}</td>
                <!--<td>{{ client.status }}</td>-->
                <td><span><a href='https://vk.com/im?sel={{ client.vk_id }}'>{{ client.vk_id }}</a></span></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

    {{link_pager_widget({
        'pagination': pages
    }) }}



    <div class="popup end popup_d"></div>

    <div class="overlay"></div>



<script type="text/javascript">

    $(function(){

    //Живой поиск
    $('.who').bind("change keyup input click", function() {
        if(this.value.length >= 4){
            $.ajax({
                type: 'get',
                    url: "/crm/persons/personsfind", //Путь к обработчику
                    data: {'name':this.value},
                    response: 'text',
                    success: function(data){
                        $(".search_result").html(data).fadeIn(); //Выводим полученые данные в списке
                    }
                })
            $(".overlay").fadeIn();
            $(".form_lite").css({'zIndex': 9000});

        }
    })

    $(".search_result").hover(function(){
        $(".who").blur(); //Убираем фокус с input
    })

    //При выборе результата поиска, прячем список и заносим выбранный результат в input
    $(".search_result").on("click", "li", function(){
        s_user = $(this).text();
        //$(".who").val(s_user).attr('disabled', 'disabled'); //деактивируем input, если нужно
        $(".search_result, .overlay").fadeperson();
        $(".form_lite").css({'zIndex': 1000});
    })

})
</script>