<ul class="breadcrumb tac">
	<li><a href="/tickets/all">Все</a></li>
	<li><a href="/tickets/index">Сегодня</a></li>
</ul>

<div class="row">
	<div class="col-xs-12 col-sm-3">
		<h1>Билеты</h1>
	</div>
	<div class="col-xs-3 col-sm-1">
		<h3 class="itog tac">{{ tickets_count }}<span>{{ word }}</span> </h3>
	</div>


	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].nal|number_format(0, '.', ' ')  }}р<span>наличка</span> </h3>
	</div>
	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].beznal|number_format(0, '.', ' ')  }}р<span>безнал</span> </h3>
	</div>
	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].yandex|number_format(0, '.', ' ')  }}р<span>яндекс</span> </h3>
	</div>
	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].summa|number_format(0, '.', ' ')  }}р<span>Итого</span> </h3>
	</div>



	<div class="col-xs-12 col-sm-12">
		<a class="btn btn-xs btn-info" href="/tickets/all">Все </a>
		{% for event in biblioevents %}
			<a class="btn btn-xs btn-info" href="/tickets/all?biblioevents={{event.events.biblioevents.id}}">{{event.events.biblioevents.name}}</a>
		{% endfor %}
	</div>
</div>



	<table class="table stacktable mb0">
		<tr>
			<td># Покупка</td>
			<td>Событиe</td>
			<td>Дата События</td>
			<td>Кто</td>
			<td class="tac">Цена</td>
			<td class="tac">Шт</td>
			<td class="tac">Сумма</td>
			<td class="tac">Оплата</td>
			<td class="tac"></td>
		</tr>

	{% for row in tickets %}
		<tr>
			<td><a href="/tickets/view?id={{ row.id }}"><span>{{ row.id }}</span> {{ row.date|date('d.m.Y H:i') }}</a></td>
			<td>{% if row.events.id %}{{ row.events.biblioevents.name}} {% else %} нет события {% endif %}</td>
			<td>{% if row.events.id %}<a href="/events/view?id={{ row.events.id }}">{{ row.events.date|date('d.m.Y H:i') }}</a>{% else %} нет события {% endif %}</td>
			<td><a href="/persons/view?id={{ row.persons.id }}">{{ row.persons.second_name }} {{ row.persons.name }}</a></td>
			<td class="tac">{{ row.money|number_format(0, '.', ' ') }}</td>
			<td class="tac">{{ row.count }} <span>шт</span></td>
			<td class="tac">{{ row.money*row.count }}</td>
			<td class="tar">
				{% if row.type == 1 %}
					Наличка
					{% set money_nal = money_nal + row.money*row.count %}
				{% elseif row.type == 2 %}
					БезНал
					{% set money_bez = money_bez + row.money*row.count %}
				{% elseif row.type == 3 %}
					Билетник
				{% elseif row.type == 4 %}
					GR
				{% elseif row.type == 9 %}
					Яндекс
					{% set money_yan = money_yan + row.money*row.count %}
				{% else %}
					-
				{% endif %}
			</td>
			<td><a href="/tickets/update?id={{ row.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>

		</tr>
		{% endfor %}
	</table>

