<div class="row">
	<div class="col-xs-12 col-sm-8">
		<ul class="breadcrumb tac">
			<li><a href="/tickets/all">Все</a></li>
			<li><a href="/tickets/index">Сегодня</a></li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-4">
		<form class="horizontal-form" method="post" action="/tickets/index">
			<div class="row">
				<div class="col-xs-12 col-sm-8"><input class="form-control" name="date" value="{{ date }}" ></div>
				<div class="col-xs-12 col-sm-4"><input type="submit" class="btn btn-primary" value="Получить"></div>
			</div>
		</form>
	</div>
</div>


<div class="row">
	<div class="col-xs-12 col-sm-3">
		<h1>Билеты</h1>
	</div>
	<div class="col-xs-3 col-sm-1">
		<h3 class="itog tac">{{ tickets_count }}<span>{{ word }}</span> </h3>
	</div>


	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].nal|number_format(0, '.', ' ')  }}р<span>наличка</span> </h3>
	</div>
	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].beznal|number_format(0, '.', ' ')  }}р<span>безнал</span> </h3>
	</div>
	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].yandex|number_format(0, '.', ' ')  }}р<span>яндекс</span> </h3>
	</div>
	<div class="col-xs-3 col-sm-2">
		<h3 class="itog tac">{{ tickets_sum[0].summa|number_format(0, '.', ' ')  }}р<span>Итого</span> </h3>
	</div>



	<div class="col-xs-12 col-sm-12">
		{% for event in biblioevents %}
			<a class="btn btn-xs btn-info" href="#{{event.events.biblioevents.id}}">{{event.events.biblioevents.name}}</a>
		{% endfor %}
	</div>
</div>




	<table class="table stacktable mb0">
		<tr>
			<td># Покупка</td>
			<td>Дата События</td>
			<td>Кто</td>
			<td class="tac">Цена</td>
			<td class="tac">Шт</td>
			<td class="tac">Сумма</td>
			<td class="tac bl">Наличка</td>
			<td class="tac">Безнал</td>
			<td class="tac">Яндекс</td>
			<td class="tac bl">Итог</td>
		</tr>

	{% for event in biblioevents %}
		<tr>
			<td colspan="11">
				<b><a class="otstup_top" name="{{event.events.biblioevents.id}}"></a>
					{% if event.events.biblioevents.name %}{{ event.events.biblioevents.name }}
					<span>событие id {{ event.events.event_id }} -> дата id {{ event.events.id }}</span>
					{% else %}	Без  названия {% endif %}
				</b>
			</td>
		</tr>
	{% set money_nal = 0 %}
	{% set money_bez = 0 %}
	{% set money_yan = 0 %}

	{% for row in tickets %}
	{% if row.events.event_id == event.events.event_id %}
		<tr>
			<td><a href="/tickets/view?id={{ row.id }}"><span>{{ row.id }}</span> {{ row.date|date('d.m.Y H:i') }}</a> <a href="/tickets/update?id={{ row.id }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
			<td>{% if row.events.id %}<a href="/events/view?id={{ row.events.id }}">{{ row.events.date|date('d.m.Y H:i') }}</a>{% else %} нет события {% endif %}</td>
			<td><a href="/persons/view?id={{ row.persons.id }}">{{ row.persons.second_name }} {{ row.persons.name }}</a></td>
			<td class="tac">{{ row.money|number_format(0, '.', ' ') }}</td>
			<td class="tac">{{ row.count }} <span>шт</span></td>
			<td class="tac">{{ row.money*row.count }}</td>
<!-- 			<td class="tar">
				{% if row.type == 1 %}
					Наличка
					{% set money_nal = money_nal + row.money*row.count %}
				{% elseif row.type == 2 %}
					БезНал
					{% set money_bez = money_bez + row.money*row.count %}
				{% elseif row.type == 3 %}
					Билетник
				{% elseif row.type == 4 %}
					GR
				{% elseif row.type == 9 %}
					Яндекс
					{% set money_yan = money_yan + row.money*row.count %}
				{% else %}
					-
				{% endif %}
			</td> -->
			<td class="tar bl">{% if row.type == 1 %} {{ row.money*row.count }} {% endif %}</td>
			<td class="tar">{% if row.type == 2 %} {{ row.money*row.count }} {% endif %}</td>
			<td class="tar">{% if row.type == 3 or row.type == 9 %} {{ row.money*row.count }} {% endif %}</td>
			<td class="tar bl"></td>
		</tr>
		{% endif %}
		{% endfor %}
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="tar bl"><b>{{ money_nal|number_format(0, '.', ' ') }}</b></td>
			<td class="tar"><b>{{ money_bez|number_format(0, '.', ' ') }}</b></td>
			<td class="tar"><b>{{ money_yan|number_format(0, '.', ' ') }}</b></td>
			<td class="tar bl"><b>{{ (money_nal + money_bez + money_yan)|number_format(0, '.', ' ') }}</b></td>
		</tr>

		{% endfor %}
	</table>




<script type="text/javascript">
// 	// Выбор даты билетов
// 	$('.date').bind("change keyup input click", function() {
// 		$.ajax({
// 			type: 'get',
// 			url: "/tickets/index", //Путь к обработчику
// 			data: {'date':this.value},
// 			response: 'text',
// 			success: function(data){
// 				$(".search_result").html(data).fadeIn(); //Выводим полученые данные в списке
// 			}
// 		})
// 	})
</script>