<div class="row">
    <div class="col-xs-12 col-lg-3 left_blo">
        <div class="stiky">
            <div class="newblo">
                {% if promoter.image %}
                    <img src="/uploads/users/{{ promoter.image }}" class="img-responsive img-circle">
                {% else %}
                    <img src="/web/images/noimage.png" class="img-responsive img-circle">
                {% endif %}
                <h2 class="mt0">{% if promoter.name %}{{ promoter.name }} {{ promoter.second_name }}{% endif %}</h2>
                <a href="/crm/promoters/update?id={{ promoter.id }}" class="btn btn-primary ma w120">Редактировать</a>
                <h4>promoter_id:  {{ promoter.id }}</h4>
                <p><b>Статус:</b> {{ promoter.status }}</p>
                <p><b>Дата рождения:</b> {{ promoter.birthday|date('d.m.Y') }}</p>
                <p><b>E-mail:</b> {{ promoter.mail }}</p>
                <p><b>Телефон:</b> {{ promoter.phone }}</p>
                <p><b>Пол:</b> {% if promoter.sex == 0 %} женщина {% else %} мужчина {% endif %} </p>
                <p><b>Группы:</b> {{ promoter.groups }}</p>
                <p><b>Откуда:</b> {{ promoter.froms.url }}</p>
                <p><b>Получать письма:</b> {% if promoter.sendmail == 1 %} Да {% else %} Нет {% endif %} </p>
                <p><b>Пожелания:</b> {{ promoter.vishes }}</p>
            </div>
            {% if promoter.info %}
                <div class="newblo"><p>{{ promoter.info }}</p></div>
            {% endif %}
        </div>
    </div>
    <div class="col-xs-12 col-lg-9">
        <div class="newblo">
            <div class="row">
                <div class="col-xs-3"><h3 class="itog"></h3></div>
                <div class="col-xs-3"><h3 class="itog"></h3></div>
                <div class="col-xs-3"><h3 class="itog"></h3></div>
                <div class="col-xs-3"><h3 class="itog"></h3></div>
            </div>
        </div>
        
       <!--  <div class="mini_header mt0"><span>ВИЗИТЫ <div class="badge">{{ promoter.visits|length }}</div></span></div>

        <div class="newblo">
            <table class="table stacktable">
                <tr>
                    <td>Начало</td>
                    <td>Окончание</td>
                    <td>Скидка</td>
                    <td>Стоимость</td>
                </tr>
                {% for row in promoter.visits|reverse %}
                    <tr>
                        <td>{{ row.start|date('d.m в H:i') }}</td>
                        <td>{{ row.end|date('d.m в H:i') }}</td>
                        <td>{{ row.discount_money }}</td>
                        <td>{{ row.money }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div> -->

    </div>
</div>