<div class="row">
	<div class="hidden-xs col-lg-12">
		<div class="newblo">
			<h2>Музыкальные группы</h2>
		</div>
	</div>
	<div class="col-xs-12 col-lg-3 left_blo">
		{{ this.render('/module/band_step.twig') | raw }}
	</div>

	<div class="col-xs-12 col-lg-9">
		<div class="row newblos">
			{% for row in bands %}
				{% if row.status == 1 %}
					<div class="col-xs-12 col-md-3">
						<a href="/crm/band/view?id={{ row.id }}">
							<div class="newblo n_company">
								<div class="content">
									<p class="mini p_a_l">#{{ row.id }}</p>
									<h3 class="h70 fs28">{{ row.name }}</h3>
									<div class="h26">
										{% for art in row.artists %}									
											<img src="/uploads/users/{{ art.image }}" class="w26 mr0 img-circle">
										{% endfor %}
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<div class="mini_header mt20"><span>АКТИВНЫ / 1</span></div>
		
		<div class="row newblos">
			{% for row in bands %}
				{% if row.status == 1 %}
					<div class="col-xs-12 col-md-3">
						<a href="/crm/band/view?id={{ row.id }}">
							<div class="newblo n_company">
								<div class="content">
									<p class="mini p_a_l">#{{ row.id }}</p>
									<h3 class="h70 fs28">{{ row.name }}</h3>
									<div class="h26">
										{% for art in row.artists %}									
											<img src="/uploads/users/{{ art.image }}" class="w26 mr0 img-circle">
										{% endfor %}
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<div class="mini_header mt20"><span>ПО ССЫЛКЕ / 7</span></div>
		
		<div class="row newblos">
			{% for row in bands %}
				{% if row.status == 7 %}
					<div class="col-xs-12 col-md-3">
						<a href="/crm/band/view?id={{ row.id }}">
							<div class="newblo n_company">
								<div class="content">
									<p class="mini p_a_l">#{{ row.id }}</p>
									<h3 class="h70 fs28">{{ row.name }}</h3>
									<div class="h26">
										{% for art in row.artists %}									
											<img src="/uploads/users/{{ art.image }}" class="w26 mr0 img-circle">
										{% endfor %}
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<div class="mini_header mt20"><span>Выводить в crm/events / 2</span></div>
		
		<div class="row newblos">
			{% for row in bands %}
				{% if row.status == 2 %}
					<div class="col-xs-12 col-md-3">
						<a href="/crm/band/view?id={{ row.id }}">
							<div class="newblo n_company">
								<div class="content">
									<p class="mini p_a_l">#{{ row.id }}</p>
									<h3 class="h70 fs28">{{ row.name }}</h3>
									<div class="h26">
										{% for art in row.artists %}									
											<img src="/uploads/users/{{ art.image }}" class="w26 mr0 img-circle">
										{% endfor %}
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>

		<div class="mini_header mt20"><span>НЕАКТИВНЫЕ / 0</span></div>
		
		<div class="row newblos">
			{% for row in bands %}
				{% if row.status == 0 %}
					<div class="col-xs-12 col-md-3">
						<a href="/crm/band/view?id={{ row.id }}">
							<div class="newblo n_company">
								<div class="content">
									<p class="mini p_a_l">#{{ row.id }}</p>
									<h3 class="h70 fs28">{{ row.name }}</h3>
									<div class="h26">
										{% for art in row.artists %}									
											<img src="/uploads/users/{{ art.image }}" class="w26 mr0 img-circle">
										{% endfor %}
									</div>
								</div>
							</div>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>


