<table class="tb seats">
	<tbody>
		<tr>
			<th>Название</th>
			<th class="tar">Цена</th>
			<th class="tar">Кол-во</th>
			<th class="tar">Доступно</th>
			<th>Код</th>
			<th class="tar">Лимит</th>
			<th>Статус</th>
			<th>Можно</th>
			<th>Инфо</th>
			<th></th>
			<th></th>
		</tr>
		{% for row in seats %}
			<tr>
				<td>{{ row.seat.name }}</td>
				<td class="tar">{{ row.seat.price }} р</td>
				<td class="tar">{{ row.seat.count }}</td>
				<td class="tar">{{ row.instock }}</td>
				<td>{{ row.seat.promocode  }}</td>
				<td class="tar">{{ row.seat.promolimit  }}</td>
				<td>{{ row.seat.status }}</td>
				<td>{% if row.seat.afterpay == 1 %}Да{% else %}Нет{% endif %}</td>
				<td>{{ row.seat.info }}</td>
				<td><a href="/crm/seats/update?id={{ row.seat.id }}&biblioeventid={{ biblioeventid }}"><span class="glyphicon glyphicon-pencil"></span></a></td>
				<td><a href="/crm/seats/delete?id={{ row.seat.id }}&biblioeventid={{ biblioeventid }}" data-confirm="Уверены, что хотите удалить?" data-method="post"><span class="glyphicon glyphicon-trash"></span></a></td>
			</tr>
		{% endfor %}
	</tbody>
</table>