<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="newblo">
			<h2>{{ biblioevent.name}} / {{ event.date|date('d.m.Y H:i') }}<sup><a href="/crm/events/update?id={{event.id}}"><span class="glyphicon glyphicon-pencil"></a></sup></h2> </small>
		</div>
	</div>
	<div class="col-xs-12 col-lg-3">
		{{ this.render('/module/event_step.twig', {'biblioevent' : biblioevent, 'user' : user}) | raw }}
	</div>
	<div class="col-xs-12 col-lg-9">
		<div class="newblo">
			{{ this.render('_form.php', {'model' : model, 'dates' : dates, 'seats' : seats}) | raw }}
		</div>
	</div>
	<div class="col-xs-12 col-lg-9">
		<div class="col-xs-12 mt20">
			<div class="row mini">
				<p>Места указывайте БЕЗ пробелов, через запяту или - <span class="example">Например: 1,3,5-10</span></p>
				<p>Если указываете места, то Количество указывать НЕ надо!</p>
				<p>Чтобы указать недоступное место поставьте ему стоимость -1 (минус 1)</p>
				
			</div>
		</div>

	</div>
</div>

	<script type="text/javascript">
	$(document).ready(function() {
		$('#seats-event_id').on('change', function() {
			var event_id = this.value;
			$.ajax({
				type: 'get',
				url: "/crm/seats/get-seats",
				data: {'event_id': event_id},
				response: 'text',
				success: function(data){
					$('.seats').html(data);
				}
			});	
		});
	});

	$('.steps .type').addClass('active');
	</script>