<div class="akt">
	
<table  class="tb"><tr><td width="10%">&nbsp;</td><td>Отчёт от «{{model.date_act|date("d.m.Y")}}»
к Лицензионному договору о предоставлении права использования обнародованных произведений способом публичного исполнения  (в ходе мероприятия с платным входом) № {{model.doc_number}}. </td><td width="10%">&nbsp;</td></tr></table>
<p><table border="1">
		<tr>
			<td>Пользователь:</td>
			<td>{{ contragent1.name_long }}</td>
		</tr><tr>
			<td>ИНН</td>
			<td>{{ contragent1.inn }}</td>
		</tr>
	</table>
</p>
<p><table border="1">
		<tr>
			<td>Мероприятия:</td>
			<td>{{ event.title }}</td>
		</tr><tr>
			<td>Дата проведения</td>
			<td>{{ event.date|date('d.m.Y')}}</td>
		</tr><tr>
			<td>Объект</td>
			<td>{{ place.name }}</td>
		</tr><tr>
			<td>Адрес	</td>
			<td>{{ place.address }}</td>
		</tr><tr>
			<td>Мест в зале</td>
			<td>{{ place.numseats_max }}</td>
		</tr>
	</table>
</p>

<p><table border="1px">
	<tr>
		<td>
			Доход (выручка, сумма сбора от продажи билетов)
		</td>
		<td>
			руб.
		</td>
	</tr>
		<tr>
		<td>
			Сумма Авторского вознаграждения из расчета 5 % от от суммы валового сбора составляет
		</td>
		<td>
			руб. 
		</td>
	</tr>
	<tr>
		<td>
			Количество пригласительных 
		</td>
		<td>
			0
		</td>
	</tr>
	<tr>
		<td>
			Сумма Авторского вознаграждения из расчета 40 рублей за каждый пригласительный билет 
		</td>
		<td>
			0 руб. 0 коп.
		</td>
	</tr>
		<tr>
		<td>
			Итого Авторское вознаграждение подлежащее к выплате :
		</td>
		<td>
			______ руб. _____ коп
		</td>
	</tr>
	<tr>
		<td colspan="2">
			
		</td>
	</tr>
</table>
<p><table class="tb">
		<tr>
			<td width="20%">
			&nbsp;
			</td>
			<td width="30%">
				Руководитель Пользователя
			</td>
			<td width="30%">
				_________________
				
			</td>
			<td width="20%">
			&nbsp;
			</td>
		</tr>
		<tr>
			<td width="20%">
			&nbsp;
			</td>
			<td width="30%">
				
			</td>
			<td width="30%">
				М.П.	
			</td>
			<td width="20%">
			&nbsp;
			</td>
		</tr></table></p>


<p>Подтверждаем, что сведения в Отчете Пользователя отражены правильно, указанный срок перечисления вознаграждения нам известен и повторного напоминания о сроке оплаты не требуется.</p>

	<p><table class="tb">
		<tr>
			<td width="20%">
			&nbsp;
			</td>
			<td width="30%">
				Руководитель Пользователя
			</td>
			<td width="30%">
				_________________
				
			</td>
			<td width="20%">
			&nbsp;
			</td>
		</tr>
		<tr>
			<td width="20%">
			&nbsp;
			</td>
			<td width="30%">
				
			</td>
			<td width="30%">
				М.П.	
			</td>
			<td width="20%">
			&nbsp;
			</td>
		</tr></table></p>


