<div class="col-xs-12 col-sm-6 col-md-6">
	<h2 class="m0 tal">Открытые смены</h2>
</div>
<div class="col-xs-12 col-sm-6 col-md-6">
	<div class="row">
		<p>Все деньги с 9 утра до текущего момента, даже не попавшие в смены.</p>
		<div class="col-xs-12 col-sm-3">
			<h3 class="itog">{{ summnal|number_format(0, '.', ' ') }}<span>Наличка</span></h3>
		</div>
		<div class="col-xs-12 col-sm-3">
			<h3 class="itog">{{ summbez|number_format(0, '.', ' ') }}<span>Безнал</span></h3>
		</div>
		<div class="col-xs-12 col-sm-3">
			<h3 class="itog">{{ summpad|number_format(0, '.', ' ') }}<span>Билетник</span></h3>
		</div>
		<div class="col-xs-12 col-sm-3">
			<h3 class="itog">{{ summgr|number_format(0, '.', ' ') }}<span>GoodRepublic</span></h3>
		</div>
	</div>
</div>



<div class="container">

	<table class="table stacktable">
		<tr>
			<td rowspan="2">#</td>
			<td rowspan="2">Админ</td>
			<td rowspan="2">Тип</td>
			<td rowspan="2">Начало</td>
			<td class="tac" colspan="3">Визиты</td>
			<td class="tac" colspan="3">Билеты</td>
			<td class="tac" colspan="3">Покупки </td>
			<td class="tac" colspan="3">Абонементы</td>
			<td class="tac" colspan="3">Аренда </td>
			<td class="tac" colspan="3">Итого</td>
		</tr>
		<tr class="top">
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
		</tr>
		{% for row in smenas_open %}
		<tr>
			<td>{{ row.id }}</td>
			<td>{{ row.users.username }}</td>
			<td>
				{% if row.type == 1 %}
				Ресепшн
				{% elseif row.type == 2 %}
				Бар
				{% elseif row.type == 3 %}
				Другое
				{% else %}
				-
				{% endif %}
			</td>
			<td>{{ row.start|date('d.m H:i') }}</td>
			<td class="bl tar">{{row.visits_n}}</td>
			<td class="tar">{{row.visits_b}}</td>
			<td class="tar">{{row.visits_n + row.visits_b}}</td>
			<td class="bl tar">{{row.tickets_n}}</td>
			<td class="tar">{{row.tickets_b}}</td>
			<td class="tar">{{row.tickets_n + row.tickets_b}}</td>
			<td class="bl tar">{{row.sells_n}}</td>
			<td class="tar">{{row.sells_b}}</td>
			<td class="tar">{{row.sells_n + row.sells_b}}</td>
			<td class="bl tar">{{row.abonements_n}}</td>
			<td class="tar">{{row.abonements_b}}</td>
			<td class="tar">{{row.abonements_n + row.abonements_b}}</td>
			<td class="bl tar">{{row.rents_n}}</td>
			<td class="tar">{{row.rents_b}}</td>
			<td class="tar">{{row.rents_n + row.rents_b}}</td>
			<td class="bl tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n}}</b></td>
			<td class="tar"><b>{{row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
			<td class="tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n + row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
		</tr>
		{% endfor %}
	</table>


<!-- 	<h2>Завершенные смены</h2>

	<table class="table stacktable">
		<tr>
			<td rowspan="2">#</td>
			<td rowspan="2">Админ</td>
			<td rowspan="2">Тип</td>
			<td rowspan="2">Начало</td>
			<td rowspan="2">Окончание</td>
			<td rowspan="2">Время</td>
			<td class="tac" colspan="3">Визиты</td>
			<td class="tac" colspan="3">Билеты</td>
			<td class="tac" colspan="3">Покупки </td>
			<td class="tac" colspan="3">Абонементы</td>
			<td class="tac" colspan="3">Аренда </td>
			<td class="tac" colspan="3">Итого</td>
		</tr>
		<tr class="top">
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
		</tr>
		{% for row in smenas_done %}
		<tr>
			<td>{{ row.id }}</td>
			<td>{{ row.users.username }}</td>
			<td>
				{% if row.type == 1 %}
				Ресепшн
				{% elseif row.type == 2 %}
				Бар
				{% elseif row.type == 3 %}
				Другое
				{% else %}
				-
				{% endif %}
			</td>
			<td>{{ row.start|date('d.m H:i') }}</td>
			<td>{{ row.end|date('d.m H:i') }}</td>
			<td>{{ row.time|date('H:i') }}</td>
			<td class="bl tar">{{row.visits_n}}</td>
			<td class="tar">{{row.visits_b}}</td>
			<td class="tar">{{row.visits_n + row.visits_b}}</td>
			<td class="bl tar">{{row.tickets_n}}</td>
			<td class="tar">{{row.tickets_b}}</td>
			<td class="tar">{{row.tickets_n + row.tickets_b}}</td>
			<td class="bl tar">{{row.sells_n}}</td>
			<td class="tar">{{row.sells_b}}</td>
			<td class="tar">{{row.sells_n + row.sells_b}}</td>
			<td class="bl tar">{{row.abonements_n}}</td>
			<td class="tar">{{row.abonements_b}}</td>
			<td class="tar">{{row.abonements_n + row.abonements_b}}</td>
			<td class="bl tar">{{row.rents_n}}</td>
			<td class="tar">{{row.rents_b}}</td>
			<td class="tar">{{row.rents_n + row.rents_b}}</td>
			<td class="bl tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n}}</b></td>
			<td class="tar"><b>{{row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
			<td class="tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n + row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
		</tr>
		{% endfor %}
	</table>
 -->





	<h2>Смены с Итогом</h2>

	<table class="table stacktable">
		<tr>
			<td rowspan="2">#</td>
			<td rowspan="2">Админ</td>
			<td rowspan="2">Тип</td>
			<td rowspan="2">Начало</td>
			<td rowspan="2">Окончание</td>
			<td rowspan="2">Время</td>
			<td class="tac" colspan="3">Визиты</td>
			<td class="tac" colspan="3">Билеты</td>
			<td class="tac" colspan="3">Покупки </td>
			<td class="tac" colspan="3">Абонементы</td>
			<td class="tac" colspan="3">Аренда </td>
			<td class="tac" colspan="3">Итого</td>
		</tr>
		<tr class="top">
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
			<td class="bl">нал</td>
			<td>без</td>
			<td>итог</td>
		</tr>
		{% for row in smenas %}
			{% if row.date %}
			<tr class="yellow">
				<td colspan="6"><b>Итог за: {{row.date|date('d.m.Y') }}</b></td>
				<td class="bl tar"><b>{{row.visits_n}}</b></td>
				<td class="tar"><b>{{row.visits_b}}</b></td>
				<td class="tar"><b>{{row.visits_n + row.visits_b}}</b></td>
				<td class="bl tar"><b>{{row.tickets_n}}</b></td>
				<td class="tar"><b>{{row.tickets_b}}</b></td>
				<td class="tar"><b>{{row.tickets_n + row.tickets_b}}</b></td>
				<td class="bl tar"><b>{{row.sells_n}}</b></td>
				<td class="tar"><b>{{row.sells_b}}</b></td>
				<td class="tar"><b>{{row.sells_n + row.sells_b}}</b></td>
				<td class="bl tar"><b>{{row.abonements_n}}</b></td>
				<td class="tar"><b>{{row.abonements_b}}</b></td>
				<td class="tar"><b>{{row.abonements_n + row.abonements_b}}</b></td>
				<td class="bl tar"><b>{{row.rents_n}}</b></td>
				<td class="tar"><b>{{row.rents_b}}</b></td>
				<td class="tar"><b>{{row.rents_n + row.rents_b}}</b></td>
				<td class="bl tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n}}</b></td>
				<td class="tar"><b>{{row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
				<td class="tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n + row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
			</tr><td colspan="24">&nbsp;</td></tr>

			{% else %}

			<tr>
				<td>{{ row.id }}</td>
				<td>{{ row.users.username }}</td>
				<td>
					{% if row.type == 1 %}
					Ресепшн
					{% elseif row.type == 2 %}
					Бар
					{% elseif row.type == 3 %}
					Другое
					{% else %}
					-
					{% endif %}
				</td>
				<td>{{ row.start|date('d.m H:i') }}</td>
				<td>{{ row.end|date('d.m H:i') }}</td>
				<td>{{ row.time|date('H:i') }}</td>
				<td class="bl tar">{{row.visits_n}}</td>
				<td class="tar">{{row.visits_b}}</td>
				<td class="tar">{{row.visits_n + row.visits_b}}</td>
				<td class="bl tar">{{row.tickets_n}}</td>
				<td class="tar">{{row.tickets_b}}</td>
				<td class="tar">{{row.tickets_n + row.tickets_b}}</td>
				<td class="bl tar">{{row.sells_n}}</td>
				<td class="tar">{{row.sells_b}}</td>
				<td class="tar">{{row.sells_n + row.sells_b}}</td>
				<td class="bl tar">{{row.abonements_n}}</td>
				<td class="tar">{{row.abonements_b}}</td>
				<td class="tar">{{row.abonements_n + row.abonements_b}}</td>
				<td class="bl tar">{{row.rents_n}}</td>
				<td class="tar">{{row.rents_b}}</td>
				<td class="tar">{{row.rents_n + row.rents_b}}</td>
				<td class="bl tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n}}</b></td>
				<td class="tar"><b>{{row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
				<td class="tar"><b>{{row.visits_n + row.tickets_n + row.sells_n + row.abonements_n + row.rents_n + row.visits_b + row.tickets_b + row.sells_b + row.abonements_b + row.rents_b}}</b></td>
			</tr>


			{% endif %}

		{% endfor %}
	</table>
	{{ use('/yii/widgets') }}
	{{ link_pager_widget({'pagination': pages}) }}


</div>