{{ use('/yii/widgets') }}

<ul class="search_result"></ul>

<div class="row">
    <div class="col-xs-12 col-lg-12">
        <div class="newblo">
            <div class="row">
              
                <div class="col-xs-12 col-lg-12">
                    <h2>Все промошаги: newsmakder_event</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-3 left_blo">
        
    </div>

    <div class="col-xs-12 col-lg-9">

        <table class="tb stacktable">
            <tr>
                <td></td>
               <!--<td></td>-->
                <td>event_id</td>
                <td>newsmaker_id</td>
                <td>status</td>
                <td>user_id</td>
                
            </tr>
            {% for promo in allpromo %}
            <tr>
                <td><span>{{ promo.id }}</span></td>
                <!--<td class="tac">
                    {% if newsmaker.image %}
                    <img src="/uploads/users/{{ newsmaker.image }}" class="w26 img-circle">
                    {% else %}
                    <img src="/web/images/noimage.png" class="w26 img-circle">
                    {% endif %}
                </td>-->
                <td><a href="https://igoevent.com/crm/events/promo?id={{ promo.event_id }}">{{ promo.event_id }}</a></td>
                <td><a href="/crm/newsmakers/update?id={{ promo.newsmaker_id }}">{{ promo.newsmaker_id }}</a> </td>
                <td><span>{{ promo.status }}</span></td>
                <td><span>{{ promo.user_id }}</span></td>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

    {{link_pager_widget({
        'pagination': pages
    }) }}



    <div class="popup end popup_d"></div>

    <div class="overlay"></div>



<script type="text/javascript">

    $(function(){

    //Живой поиск
    $('.who').bind("change keyup input click", function() {
        if(this.value.length >= 4){
            $.ajax({
                type: 'get',
                    url: "/crm/persons/personsfind", //Путь к обработчику
                    data: {'name':this.value},
                    response: 'text',
                    success: function(data){
                        $(".search_result").html(data).fadeIn(); //Выводим полученые данные в списке
                    }
                })
            $(".overlay").fadeIn();
            $(".form_lite").css({'zIndex': 9000});

        }
    })

    $(".search_result").hover(function(){
        $(".who").blur(); //Убираем фокус с input
    })

    //При выборе результата поиска, прячем список и заносим выбранный результат в input
    $(".search_result").on("click", "li", function(){
        s_user = $(this).text();
        //$(".who").val(s_user).attr('disabled', 'disabled'); //деактивируем input, если нужно
        $(".search_result, .overlay").fadeperson();
        $(".form_lite").css({'zIndex': 1000});
    })

})
</script>