<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-10">
        <h1>Рассадка {{model.name}}</h1>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-2">
        <a href="/seatings/update?id={{model.id}}" class="btn btn-primary mt20 pull-right"> Редактировать рассадку</a>
    </div>
</div>

<div class="row mb30">
    <div class="col-xs-12 col-sm-4">
        <h2>Схема зала</h2>
        <img src="/web/uploads/{{model.image}}" class="img-responsive">
    </div>
    <div class="col-xs-12 col-sm-8">
        <h2>Билеты в рассадке</h2>
        <div class="row">
            {% for row in model.seats %}
            <div class="row">
                <p class="col-xs-12 col-md-5">{{ row.id }} - {{ row.name }}</p>
                <p class="col-xs-6 col-md-2">{{ row.price }} р</p>
                <p class="col-xs-6 col-md-2">{{ row.count }} шт</p>
                <p class="col-xs-10 col-md-2">{{ row.info }}</p>
                <p class="col-xs-2 col-md-1">
                    <a href="/seats/update?id={{ row.id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="/seats/delete?id={{ row.id }}" title="Delete" aria-label="Delete" data-confirm="Уверены в том, что хотите удалить?" data-method="post"><span class="glyphicon glyphicon-trash"></span></a>
                </p>
            </div>
            {% endfor %}
        </div>
        <p></p>
    </div>
</div>





